openapi: 3.0.3
info:
  title: BigPanda Topology API
  description: BigPanda Topology operations, assembled verbatim from the OpenAPI fragments BigPanda publishes on its own API
    reference at https://api-docs.bigpanda.io/. Each operation carries x-source-url naming the exact provider page it was
    read from. BigPanda hosts each organization in a single data management region (US or EU); send requests to the base URL
    for your region.
  version: 1.0.0
  contact:
    name: BigPanda Support
    url: https://api-docs.bigpanda.io/
  license:
    name: Proprietary
    url: https://www.bigpanda.io/legal/
  x-provenance:
    method: searched
    source: https://api-docs.bigpanda.io/llms.txt
    harvested: '2026-09-04'
    assembly: 'Operations copied verbatim from the per-endpoint OpenAPI 3.0.1 fragments BigPanda publishes at https://api-docs.bigpanda.io/<endpoint>.md.
      Assembly-only normalizations: Apidog x-apidog security metadata stripped, securityScheme type "bearer" corrected to
      type http/scheme bearer, schema name collisions suffixed. No operation, parameter, schema or response was authored by
      API Evangelist.'
    operations: 5
servers:
- url: https://api.bigpanda.io
  description: US Region
- url: https://api.eu.bigpanda.io
  description: EU Region
tags:
- name: Topology
paths:
  /resources/v2.0/topologies:
    post:
      summary: Create Topology
      deprecated: false
      description: "Creates a new topology model (only one per organization).\n\n> \U0001F6A7 **Authentication**\n> \n> All\
        \ BigPanda APIs require Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type\
        \ of Authorization token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n\
        > `Authorization: Bearer [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: create-topology
      tags:
      - Topology
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/topologyobject'
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/topologyresponse'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770047-run
      x-source-url: https://api-docs.bigpanda.io/create-topology-37770047e0.md
      x-source-page: Create Topology
    get:
      summary: Retrieve All Topologies
      deprecated: false
      description: "Retrieves all of the organization’s topology models.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda\
        \ APIs require Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization\
        \ token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization:\
        \ Bearer [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: retrieve-all-topologies
      tags:
      - Topology
      parameters: []
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/topologyresponse'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770046-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-all-topologies-37770046e0.md
      x-source-page: Retrieve All Topologies
  /resources/v2.0/topologies/{model_id}:
    delete:
      summary: Delete a Topology
      deprecated: false
      description: "Deletes the organization's topology model and removes it from the\nsystem.\n\n> \U0001F6A7 **Authentication**\n\
        > \n> All BigPanda APIs require Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key\
        \ type of Authorization token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.\n\
        >\n> Example:\n> `Authorization: Bearer [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: delete-topology
      tags:
      - Topology
      parameters:
      - name: model_id
        in: path
        description: System id for the topology visual model in BigPanda.
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 1234h13462
      responses:
        '204':
          x-apidog-ordering: 0
          description: '204'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic204response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770050-run
      x-source-url: https://api-docs.bigpanda.io/delete-a-topology-37770050e0.md
      x-source-page: Delete a Topology
    get:
      summary: Retrieve a Topology
      deprecated: false
      description: "Retrieves a topology model.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs require Bearer\
        \ Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization token. Your\
        \ User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization: Bearer\
        \ [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: retrieve-topology
      tags:
      - Topology
      parameters:
      - name: model_id
        in: path
        description: System id for the topology visual model in BigPanda.
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 1234h13462
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/topologyresponse'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770048-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-a-topology-37770048e0.md
      x-source-page: Retrieve a Topology
    put:
      summary: Update a Topology
      deprecated: false
      description: "Updates the organization's topology model.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs\
        \ require Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization\
        \ token.Your User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization:\
        \ Bearer [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: update-topology
      tags:
      - Topology
      parameters:
      - name: model_id
        in: path
        description: System id for the topology visual model in BigPanda.
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 1234h13462
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/topologyobject'
      responses:
        '204':
          x-apidog-ordering: 0
          description: '204'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/topologyresponse'
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic400response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770049-run
      x-source-url: https://api-docs.bigpanda.io/update-a-topology-37770049e0.md
      x-source-page: Update a Topology
components:
  securitySchemes:
    BearerUser131:
      type: http
      scheme: bearer
      description: 'Format: "Bearer {User API Key}" BigPanda recommends adding

        [Authentication](https://docs.bigpanda.io/reference/introduction#authentication-and-headers) headers only in the secure
        tool you use to make API calls

        '
  schemas:
    topologyobject:
      type: object
      properties:
        links:
          type: array
          description: Links present in the topology model. Every item in the array is comprised of a link source and a link
            target.
          items:
            type: object
            properties:
              source:
                type: string
                description: The source tag of the link in the topology model.
                examples:
                - host
              target:
                type: string
                description: The target tag of the link in the topology model.
                examples:
                - check
            x-apidog-orders:
            - source
            - target
            x-apidog-ignore-properties: []
      x-apidog-orders:
      - links
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    topologyresponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/id'
        created_by:
          $ref: '#/components/schemas/created_by'
        updated_by:
          $ref: '#/components/schemas/updated_by'
        links:
          type: array
          description: Links present in the topology model. Every item in the array is comprised of a link source and a link
            target.
          items:
            type: object
            x-apidog-orders: []
            properties: {}
            examples:
            - "{\n  \"source\": \"host\",\n  \"target\": \"check\"\n}\n"
            x-apidog-ignore-properties: []
        created_at:
          $ref: '#/components/schemas/created_at'
        updated_at:
          $ref: '#/components/schemas/updated_at'
      x-apidog-orders:
      - id
      - created_by
      - updated_by
      - links
      - created_at
      - updated_at
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    updated_at:
      type: integer
      description: The time the resource was last updated(in Unix epoch seconds).
      x-apidog-folder: ''
      examples:
      - 1613252381
    created_at:
      type: integer
      description: The time the resource was created(in Unix epoch seconds).
      x-apidog-folder: ''
      examples:
      - 1613252381
    updated_by:
      type: string
      description: System id of the user or tool that last updated the resource.
      x-apidog-folder: ''
      examples:
      - 63bd56897755560012bf3555
    created_by:
      description: System id of the user or tool that created the resource.
      type: string
      x-apidog-folder: ''
      examples:
      - 63bd56897755560012bf3555
    id:
      type: string
      description: System id of the resource.
      x-apidog-folder: ''
      examples:
      - 63bd56897755560012bf3555
    generic204response:
      type: object
      description: 'Call was successful.

        '
      properties:
        status:
          type: integer
          examples:
          - 204
        data:
          type: object
          properties: {}
          x-apidog-orders: []
          x-apidog-ignore-properties: []
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      examples:
      - status: 204
        data: {}
      x-apidog-ignore-properties: []
    generic400response:
      type: object
      description: 'Call is missing parameters or malformed.

        '
      properties:
        status:
          type: integer
          examples:
          - 400
        errors:
          type: array
          items:
            type: string
            examples:
            - Call is missing parameters or malformed.
      x-apidog-orders:
      - status
      - errors
      x-apidog-ignore-properties: []
      x-apidog-folder: ''
x-server-notes:
- US host https://api.bigpanda.io verified live 2026-09-04 (HTTP 401 Authorization Required on an unauthenticated request).
- EU host https://api.eu.bigpanda.io is the value BigPanda publishes at https://api-docs.bigpanda.io/regions. It did NOT resolve
  in DNS on 2026-09-04. The live EU host observed on that date is https://eu-api.bigpanda.io (401 Authorization Required).
  The per-endpoint fragments on the same site declare a third EU value, https://eu-api.biggy.io, which also does not resolve.
  Recorded as published; not corrected.
