openapi: 3.2.0
info:
  title: BigPanda OIM Configuration API
  description: BigPanda OIM Configuration operations, assembled verbatim from the OpenAPI fragments BigPanda publishes on its own API reference at https://api-docs.bigpanda.io/. Each operation carries x-source-url naming the exact provider page it was read from. BigPanda hosts each organization in a single data management region (US or EU); send requests to the base URL for your region.
  version: 1.0.0
  contact:
    name: BigPanda Support
    url: https://api-docs.bigpanda.io/
  license:
    name: Proprietary
    url: https://www.bigpanda.io/legal/
  x-provenance:
    method: searched
    source: https://api-docs.bigpanda.io/llms.txt
    harvested: '2026-09-04'
    assembly: 'Operations copied verbatim from the per-endpoint OpenAPI 3.0.1 fragments BigPanda publishes at https://api-docs.bigpanda.io/<endpoint>.md. Assembly-only normalizations: Apidog x-apidog security metadata stripped, securityScheme type "bearer" corrected to type http/scheme bearer, schema name collisions suffixed. No operation, parameter, schema or response was authored by API Evangelist.'
    operations: 7
servers:
- url: https://api.bigpanda.io
  description: US Region
- url: https://api.eu.bigpanda.io
  description: EU Region
tags:
- name: OIM Configuration
paths:
  /configurations/alerts/oim/{app_key_p}:
    post:
      summary: Create/Update OIM Configuration
      deprecated: false
      description: '## Authentication


        All BigPanda APIs require Bearer Token Authorization in the call headers.


        This API uses the Organization token type of Authorization token. Your org token must be provided in the header, prefixed by the word `Bearer`.


        Example:

        `Authorization: Bearer [YOUR_ORG_TOKEN]`


        > 🚧 **Incorrect URL in Builder**

        >

        > This endpoint is accessed at the https://integrations.bigpanda.io url, not https://api.bigpanda.io


        ## New default

        As of October 2024, new OIM integrations will not flatten arrays by default. Existing integrations will not be affected by this change. If you would like to turn off array flattening for an integration created before October 2024, please reach out to support to update the array flattening setting.


        ## Sample payload object

        For field validation, BigPanda checks against an existing sample JSON payload from the integration. For all create and update calls to the API, a sample must be included in the body of all calls.


        All payload fields referenced in configuration settings must be included in the sample.


        To generate a sample payload:

        - Send a test or sample event to BigPanda after integration installation, but before configuration.

        - Generate an event preview in your tool.

        - Manually enter payload field values into the interactive code generator on the BigPanda docs site.


        When included in the API body, the sample payload should be JSON formatted with double quotes. The payload can include nested objects.


        ```JSON sample payload

        "sample_payload": {

        "alerts": [

        {

        "generatorURL": "https://some-url.io",

        "fingerprint": "123456789",

        "annotations": {

        "description": "This alert is used to check the CPU utilization of this non-existent server",

        "runbook_url": "https://runbook.io/cpu-check"

        },

        "startsAt": "2022-07-05T19:59:25.661Z",

        "endsAt": "0001-01-01T00:00:00Z",

        "status": "firing",

        "labels": {

        "severity": "page",

        "instance": "bigpanda-server",

        "alertname": "BigPanda Test",

        "team": "metrics",

        "env": "test",

        "job": "CPU Check",

        "locale": "ca",

        "timestamp": "1.657051103137505e+09"

        }

        }

        ],

        "commonLabels": {

        "instance": "bigpanda-server",

        "alertname": "BigPanda Test",

        "team": "metrics",

        "env": "test",

        "job": "CPU Check",

        "locale": "ca",

        "timestamp": "1.657051103137505e+09"

        },

        "externalURL": "https://external-url.io",

        "groupLabels": {

        "instance": "bigpanda-server",

        "alertname": "BigPanda Test",

        "team": "metrics",

        "env": "test",

        "job": "CPU Check",

        "locale": "ca",

        "timestamp": "1.657051103137505e+09"

        },

        "receiver": "bigpanda",

        "version": "4",

        "commonAnnotations": {

        "description": "This alert is used to check the CPU utilization of this non-existent server",

        "runbook_url": "https://runbook.io/cpu-check"

        },

        "status": "firing"

        }

        ```


        **Rate limit:** 5 requests per second.'
      operationId: create-update-oim-configuration-v2
      tags:
      - OIM Configuration
      parameters:
      - name: app_key_p
        in: path
        description: The app key for the associated integration.
        required: true
        example: ''
        schema:
          type: string
          examples:
          - gag342351qgb
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/oim_v2_config'
      responses:
        '200':
          x-apidog-ordering: 0
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oim_v2_config'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerOrg22: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770209-run
      x-source-url: https://api-docs.bigpanda.io/create-update-oim-configuration.md
      x-source-page: Create/Update OIM Configuration
    get:
      summary: Retrieve OIM Configuration
      deprecated: false
      description: '## Authentication


        All BigPanda APIs require Bearer Token Authorization in the call headers.


        This API uses the Organization token type of Authorization token. Your org token must be provided in the header, prefixed by the word `Bearer`.


        Example:

        `Authorization: Bearer [YOUR_ORG_TOKEN]`


        > 🚧 **Incorrect URL in Builder**

        >

        > This endpoint is accessed at the https://integrations.bigpanda.io url, not https://api.bigpanda.io


        **Rate limit:** 5 requests per second.'
      operationId: retrieve-oim-configuration-v2
      tags:
      - OIM Configuration
      parameters:
      - name: app_key_p
        in: path
        description: The app key for the associated integration.
        required: true
        example: ''
        schema:
          type: string
          examples:
          - gag342351qgb
      responses:
        '200':
          x-apidog-ordering: 0
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oim_v2_config3'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerOrg22: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770208-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-oim-configuration.md
      x-source-page: Retrieve OIM Configuration
  /configurations/alerts/oim/{app_key}/preprocessor:
    post:
      summary: Update Config with Preprocessor Function
      deprecated: false
      description: 'Update an OIM integration configuration with preprocessor functions (for example, URL shortening). Preprocessing functions run on incoming payloads before parsing rules are applied.

        Replace `{app_key}` in the path with the `appKey` of the target integration.


        **Rate limit:** 5 requests per second.'
      operationId: postConfigurationsAlertsOimByAppKeyPreprocessor
      tags:
      - OIM Configuration
      parameters:
      - name: app_key
        in: path
        description: The integration app key that identifies the target OIM integration.
        required: true
        example: ''
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{ORG_BEARER_TOKEN}}
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  type: object
                  properties:
                    preprocessing:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          order:
                            type: integer
                          tags:
                            type: array
                            items:
                              type: string
                          params:
                            type: object
                            properties:
                              delimiter:
                                type: string
                            required:
                            - delimiter
                            x-apidog-orders:
                            - delimiter
                        x-apidog-orders:
                        - id
                        - order
                        - tags
                        - params
                    map_remaining:
                      type: boolean
                    is_array:
                      type: boolean
                    secondary_property:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                        x-apidog-orders:
                        - name
                    map_remaining_flatten_arrays:
                      type: boolean
                    primary_property:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                        x-apidog-orders:
                        - name
                    version:
                      type: string
                    force_lowercase:
                      type: boolean
                    additional_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          source:
                            type: array
                            items:
                              type: string
                        required:
                        - name
                        - source
                        x-apidog-orders:
                        - name
                        - source
                    status:
                      type: object
                      properties:
                        default_to:
                          type: string
                        status_map:
                          type: object
                          properties:
                            warning:
                              type: array
                              items:
                                type: string
                            acknowledged:
                              type: array
                              items:
                                type: string
                            critical:
                              type: array
                              items:
                                type: string
                            ok:
                              type: array
                              items:
                                type: string
                            unknown:
                              type: array
                              items:
                                type: string
                          required:
                          - warning
                          - acknowledged
                          - critical
                          - ok
                          - unknown
                          x-apidog-orders:
                          - warning
                          - acknowledged
                          - critical
                          - ok
                          - unknown
                        source:
                          type: array
                          items:
                            type: string
                      required:
                      - default_to
                      - status_map
                      - source
                      x-apidog-orders:
                      - default_to
                      - status_map
                      - source
                    timestamp:
                      type: object
                      properties:
                        source:
                          type: array
                          items:
                            type: string
                      required:
                      - source
                      x-apidog-orders:
                      - source
                  required:
                  - preprocessing
                  - map_remaining
                  - is_array
                  - secondary_property
                  - map_remaining_flatten_arrays
                  - primary_property
                  - version
                  - force_lowercase
                  - additional_attributes
                  - status
                  - timestamp
                  x-apidog-orders:
                  - preprocessing
                  - map_remaining
                  - is_array
                  - secondary_property
                  - map_remaining_flatten_arrays
                  - primary_property
                  - version
                  - force_lowercase
                  - additional_attributes
                  - status
                  - timestamp
                sample_payload:
                  type: string
              required:
              - config
              - sample_payload
              x-apidog-orders:
              - config
              - sample_payload
      responses:
        '200':
          x-apidog-ordering: 0
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: ''
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 2
          description: ''
          headers: {}
          x-apidog-name: ''
        '429':
          x-apidog-ordering: 3
          description: ''
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 4
          description: ''
          headers: {}
          x-apidog-name: ''
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770210-run
      x-source-url: https://api-docs.bigpanda.io/update-config-with-preprocessor-function.md
      x-source-page: Update Config with Preprocessor Function
components:
  schemas:
    additional_attributes:
      type: object
      properties:
        isDestinationAccepted:
          type: boolean
          examples:
          - true
          description: (Optional) Whether the destination tag was accepted.
        isSourceAccepted:
          type: boolean
          examples:
          - true
          description: (Optional) Whether the source tag was accepted.
        isSuggestion:
          type: boolean
          examples:
          - true
          description: (Optional) Whether the tag was suggested by BigPanda Tag Normalization.
        name:
          type: string
          examples:
          - check
          description: (Optional) Set a name for the tag in BigPanda.
        source:
          type: array
          items:
            type: string
          examples:
          - - '@alert.labels.alertname'
            - '@alert.labels.check'
          description: Array of payload fields to match.
        suggestedDestination:
          type: string
          examples:
          - check
          description: Suggested Destination tag name.
        suggestedSources:
          type: array
          items:
            type: string
          examples:
          - - '@alert.labels.alertname'
            - '@alert.labels.check'
          description: Array of payload fields to match for suggested tags.
        flatten:
          type: boolean
          examples:
          - false
          description: (Optional) Whether or not to flatten a nested object for improved mapping.
      x-apidog-orders:
      - isDestinationAccepted
      - isSourceAccepted
      - isSuggestion
      - name
      - source
      - suggestedDestination
      - suggestedSources
      - flatten
      x--orders:
      - isDestinationAccepted
      - isSourceAccepted
      - isSuggestion
      - name
      - source
      - suggestedDestination
      - suggestedSources
      - flatten
      x--ignore-properties: []
      x-apidog-folder: ''
    additional_attributes2:
      type: object
      properties:
        isDestinationAccepted:
          type: boolean
          examples:
          - true
          description: (Optional) Whether the destination tag was accepted.
        isSourceAccepted:
          type: boolean
          examples:
          - true
          description: (Optional) Whether the source tag was accepted.
        isSuggestion:
          type: boolean
          examples:
          - true
          description: (Optional) Whether the tag was suggested by BigPanda Tag Normalization.
        name:
          type: string
          examples:
          - check
          description: (Optional) Set a name for the tag in BigPanda.
        source:
          type: array
          items:
            type: string
          examples:
          - - '@alert.labels.alertname'
            - '@alert.labels.check'
          description: Array of payload fields to match.
        suggestedDestination:
          type: string
          examples:
          - check
          description: Suggested Destination tag name.
        suggestedSources:
          type: array
          items:
            type: string
          examples:
          - - '@alert.labels.alertname'
            - '@alert.labels.check'
          description: Array of payload fields to match for suggested tags.
        flatten:
          type: boolean
          examples:
          - false
          description: (Optional) Whether or not to flatten a nested object for improved mapping.
      x-apidog-orders:
      - isDestinationAccepted
      - isSourceAccepted
      - isSuggestion
      - name
      - source
      - suggestedDestination
      - suggestedSources
      - flatten
      x-apidog-ignore-properties: []
      x-apidog-folder: ''
    status_mapping2:
      type: object
      properties:
        default_to:
          type: string
          examples:
          - critical
          description: The value to populate if no matches are found. `​Critical​​` is default setting.
        source:
          type: array
          items:
            type: string
          examples:
          - - '@alert.status'
            - '@alert.labels.severity'
          description: Is the value in the body or subject?
        status_map:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          x-apidog-orders: []
          examples:
          - critical:
            - page
            - critical
            warning:
            - warn
            - warning
            acknowledged:
            - acknowledged
            ok:
            - resolved
          description: Defines values that map to assigned statuses. Values will be matched in order, stopping at the first match. One of [`critical`, `warning`, `ok`, `acknowledged`]
          properties: {}
          x-apidog-ignore-properties: []
      x-apidog-orders:
      - default_to
      - source
      - status_map
      description: null
      x-apidog-ignore-properties: []
      x-apidog-folder: ''
    sample_payload2:
      type: object
      description: An example event payload from the tool that includes all tags that need to be normalized or referred to in the schema.
      x-apidog-orders: []
      properties: {}
      x-apidog-folder: ''
      examples:
      - "{  \"sample_payload\": {\n    \"alerts\": [\n      {\n        \"generatorURL\": \"https://some-url.io\",\n        \"fingerprint\": \"123456789\",\n        \"annotations\": {\n          \"description\": \"This alert is used to check the CPU utilization of this non-existent server\",\n          \"runbook_url\": \"https://runbook.io/cpu-check\"\n        },\n        \"startsAt\": \"2022-07-05T19:59:25.661Z\",\n        \"endsAt\": \"0001-01-01T00:00:00Z\",\n        \"status\": \"firing\",\n        \"labels\": {\n          \"severity\": \"page\",\n          \"instance\": \"bigpanda-server\",\n          \"alertname\": \"BigPanda Test\",\n          \"team\": \"metrics\",\n          \"env\": \"test\",\n          \"job\": \"CPU Check\",\n          \"locale\": \"ca\",\n          \"timestamp\": \"1.657051103137505e+09\"\n        }\n      }\n    ],\n    \"commonLabels\": {\n      \"instance\": \"bigpanda-server\",\n      \"alertname\": \"BigPanda Test\",\n      \"team\": \"metrics\",\n      \"env\": \"test\",\n      \"job\": \"CPU Check\",\n      \"locale\": \"ca\",\n      \"timestamp\": \"1.657051103137505e+09\"\n    },\n    \"externalURL\": \"https://external-url.io\",\n    \"groupLabels\": {\n      \"instance\": \"bigpanda-server\",\n      \"alertname\": \"BigPanda Test\",\n      \"team\": \"metrics\",\n      \"env\": \"test\",\n      \"job\": \"CPU Check\",\n      \"locale\": \"ca\",\n      \"timestamp\": \"1.657051103137505e+09\"\n    },\n    \"receiver\": \"bigpanda\",\n    \"version\": \"4\",\n    \"commonAnnotations\": {\n      \"description\": \"This alert is used to check the CPU utilization of this non-existent server\",\n      \"runbook_url\": \"https://runbook.io/cpu-check\"\n    },\n    \"status\": \"firing\"\n  }\n"
      x-apidog-ignore-properties: []
    status_mapping:
      type: object
      properties:
        default_to:
          type: string
          examples:
          - critical
          description: The value to populate if no matches are found. `​Critical​​` is default setting.
        source:
          type: array
          items:
            type: string
          examples:
          - - '@alert.status'
            - '@alert.labels.severity'
          description: Is the value in the body or subject?
        status_map:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          x-apidog-orders: []
          examples:
          - critical:
            - page
            - critical
            warning:
            - warn
            - warning
            acknowledged:
            - acknowledged
            ok:
            - resolved
          description: Defines values that map to assigned statuses. Values will be matched in order, stopping at the first match. One of [`critical`, `warning`, `ok`, `acknowledged`]
          x--orders: []
          properties: {}
          x--ignore-properties: []
      x-apidog-orders:
      - default_to
      - source
      - status_map
      description: null
      x--orders:
      - default_to
      - source
      - status_map
      x--ignore-properties: []
      x-apidog-folder: ''
    sample_payload:
      type: object
      description: An example event payload from the tool that includes all tags that need to be normalized or referred to in the schema.
      x-apidog-orders: []
      properties: {}
      x-apidog-folder: ''
      examples:
      - "{  \"sample_payload\": {\n    \"alerts\": [\n      {\n        \"generatorURL\": \"https://some-url.io\",\n        \"fingerprint\": \"123456789\",\n        \"annotations\": {\n          \"description\": \"This alert is used to check the CPU utilization of this non-existent server\",\n          \"runbook_url\": \"https://runbook.io/cpu-check\"\n        },\n        \"startsAt\": \"2022-07-05T19:59:25.661Z\",\n        \"endsAt\": \"0001-01-01T00:00:00Z\",\n        \"status\": \"firing\",\n        \"labels\": {\n          \"severity\": \"page\",\n          \"instance\": \"bigpanda-server\",\n          \"alertname\": \"BigPanda Test\",\n          \"team\": \"metrics\",\n          \"env\": \"test\",\n          \"job\": \"CPU Check\",\n          \"locale\": \"ca\",\n          \"timestamp\": \"1.657051103137505e+09\"\n        }\n      }\n    ],\n    \"commonLabels\": {\n      \"instance\": \"bigpanda-server\",\n      \"alertname\": \"BigPanda Test\",\n      \"team\": \"metrics\",\n      \"env\": \"test\",\n      \"job\": \"CPU Check\",\n      \"locale\": \"ca\",\n      \"timestamp\": \"1.657051103137505e+09\"\n    },\n    \"externalURL\": \"https://external-url.io\",\n    \"groupLabels\": {\n      \"instance\": \"bigpanda-server\",\n      \"alertname\": \"BigPanda Test\",\n      \"team\": \"metrics\",\n      \"env\": \"test\",\n      \"job\": \"CPU Check\",\n      \"locale\": \"ca\",\n      \"timestamp\": \"1.657051103137505e+09\"\n    },\n    \"receiver\": \"bigpanda\",\n    \"version\": \"4\",\n    \"commonAnnotations\": {\n      \"description\": \"This alert is used to check the CPU utilization of this non-existent server\",\n      \"runbook_url\": \"https://runbook.io/cpu-check\"\n    },\n    \"status\": \"firing\"\n  }\n"
      x--orders: []
      x--ignore-properties: []
    oim_v2_config3:
      type: object
      properties:
        config:
          type: object
          description: The schema for the integration configuration.
          properties:
            additional_attributes:
              type: array
              description: Array of payload mapping rules for additional tags.
              items:
                $ref: '#/components/schemas/additional_attributes2'
            array_source:
              type: string
              description: Defines which payload property contains the tag values if is_array=true.
              examples:
              - alerts
            is_array:
              type: boolean
              description: Whether the payloads sent to the integration should be treated as single alerts, or multiple.
              examples:
              - true
            map_remaining:
              type: boolean
              description: Whether to create tags from fields not included in the mapping rules.
              examples:
              - false
            map_remaining_flatten_array:
              type: boolean
              description: Whether to flatten arrays to map remaining.
              examples:
              - false
            primary_property:
              type: array
              description: Mapping rule for the primary property.
              items:
                $ref: '#/components/schemas/tag_properties2'
              examples:
              - - name: host
                - name: application
                - name: service
            secondary_property:
              type: array
              description: Mapping rule for the secondary property.
              items:
                $ref: '#/components/schemas/tag_properties2'
              examples:
              - - name: check
                - name: description
            status:
              $ref: '#/components/schemas/status_mapping2'
            bp_timestamp:
              type: object
              description: Defines an optional tag to add a human-readable timestamp.
              properties:
                is_selected:
                  type: boolean
                  examples:
                  - true
              x-apidog-orders:
              - is_selected
              x-apidog-ignore-properties: []
            timestamp:
              type: object
              description: Object that defines mapping rules for the timestamp property.
              properties:
                source:
                  type: array
                  items:
                    type: string
                  examples:
                  - - '@alert.annotations.timestamp'
                    - '@alert.startsat'
                    - '@alert.endsat'
                  description: The field(s) that contain the timestamp value.
              x-apidog-orders:
              - source
              x-apidog-ignore-properties: []
            event_filter:
              type: string
              description: A BPQL statement that dictates which events should be dropped upon initial ingestion (using Source Tags).
              examples:
              - '@alert.search_name = "OSS -- MINT Core -- *"'
            incident_identifier:
              type: array
              description: Optional override for the incident identifier.
              items:
                type: string
              examples:
              - - application
                - cluster
            version:
              type: string
              description: The version of the OIM API.
              examples:
              - '2.0'
            is_default:
              type: boolean
              examples:
              - true
          x-apidog-orders:
          - additional_attributes
          - array_source
          - is_array
          - map_remaining
          - map_remaining_flatten_array
          - primary_property
          - secondary_property
          - status
          - bp_timestamp
          - timestamp
          - event_filter
          - incident_identifier
          - version
          - is_default
          x-apidog-ignore-properties: []
        sample_payload:
          $ref: '#/components/schemas/sample_payload2'
      x-apidog-orders:
      - config
      - sample_payload
      x-apidog-ignore-properties: []
      x-apidog-folder: ''
    tag_properties2:
      type: object
      properties:
        name:
          type: string
          description: Optional tag name to use in BigPanda.
          examples:
          - host
      x-apidog-orders:
      - name
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    tag_properties:
      type: object
      properties:
        name:
          type: string
          description: Optional tag name to use in BigPanda.
          examples:
          - host
      x-apidog-orders:
      - name
      x-apidog-folder: ''
      x--orders:
      - name
      x--ignore-properties: []
    oim_v2_config:
      type: object
      properties:
        config:
          type: object
          description: The schema for the integration configuration.
          properties:
            additional_attributes:
              type: array
              description: Array of payload mapping rules for additional tags.
              items:
                $ref: '#/components/schemas/additional_attributes'
            array_source:
              type: string
              description: Defines which payload property contains the tag values if is_array=true.
              examples:
              - alerts
            is_array:
              type: boolean
              description: Whether the payloads sent to the integration should be treated as single alerts, or multiple.
              examples:
              - true
            map_remaining:
              type: boolean
              description: Whether to create tags from fields not included in the mapping rules.
              examples:
              - false
            map_remaining_flatten_array:
              type: boolean
              description: Whether to flatten arrays to map remaining.
              examples:
              - false
            primary_property:
              type: array
              description: Mapping rule for the primary property.
              items:
                $ref: '#/components/schemas/tag_properties'
              examples:
              - - name: host
                - name: application
                - name: service
            secondary_property:
              type: array
              description: Mapping rule for the secondary property.
              items:
                $ref: '#/components/schemas/tag_properties'
              examples:
              - - name: check
                - name: description
            status:
              $ref: '#/components/schemas/status_mapping'
            bp_timestamp:
              type: object
              description: Defines an optional tag to add a human-readable timestamp.
              properties:
                is_selected:
                  type: boolean
                  examples:
                  - true
              x-apidog-orders:
              - is_selected
              x--orders:
              - is_selected
              x--ignore-properties: []
            timestamp:
              type: object
              description: Object that defines mapping rules for the timestamp property.
              properties:
                source:
                  type: array
                  items:
                    type: string
                  examples:
                  - - '@alert.annotations.timestamp'
                    - '@alert.startsat'
                    - '@alert.endsat'
                  description: The field(s) that contain the timestamp value.
              x-apidog-orders:
              - source
              x--orders:
              - source
              x--ignore-properties: []
            event_filter:
              type: string
              description: A BPQL statement that dictates which events should be dropped upon initial ingestion (using Source Tags).
              examples:
              - '@alert.search_name = "OSS -- MINT Core -- *"'
            incident_identifier:
              type: array
              description: Optional override for the incident identifier.
              items:
                type: string
              examples:
              - - application
                - cluster
            version:
              type: string
              description: The version of the OIM API.
              examples:
              - '2.0'
            is_default:
              type: boolean
              examples:
              - true
          x-apidog-orders:
          - additional_attributes
          - array_source
          - is_array
          - map_remaining
          - map_remaining_flatten_array
          - primary_property
          - secondary_property
          - status
          - bp_timestamp
          - timestamp
          - event_filter
          - incident_identifier
          - version
          - is_default
          x--orders:
          - additional_attributes
          - array_source
          - is_array
          - map_remaining
          - map_remaining_flatten_array
          - primary_property
          - secondary_property
          - status
          - bp_timestamp
          - timestamp
          - event_filter
          - incident_identifier
          - version
          - is_default
          x--ignore-properties: []
        sample_payload:
          $ref: '#/components/schemas/sample_payload'
      x-apidog-orders:
      - config
      - sample_payload
      x--orders:
      - config
      - sample_payload
      x--ignore-properties: []
      x-apidog-folder: ''
  securitySchemes:
    BearerOrg22:
      type: http
      scheme: bearer
      description: 'Format: "Bearer {Org Token}" BigPanda recommends adding

        [Authentication](https://docs.bigpanda.io/reference/introduction#authentication-and-headers) headers only in the secure tool you use to make API calls

        '
    BearerOrg5:
      type: apiKey
      description: 'Format: "Bearer {Org Token}" BigPanda recommends adding [Authentication](https://docs.bigpanda.io/reference/introduction#authentication-and-headers) headers only in the secure tool you use to make API calls'
      name: Authorization
      in: header
x-server-notes:
- US host https://api.bigpanda.io verified live 2026-09-04 (HTTP 401 Authorization Required on an unauthenticated request).
- EU host https://api.eu.bigpanda.io is the value BigPanda publishes at https://api-docs.bigpanda.io/regions. It did NOT resolve in DNS on 2026-09-04. The live EU host observed on that date is https://eu-api.bigpanda.io (401 Authorization Required). The per-endpoint fragments on the same site declare a third EU value, https://eu-api.biggy.io, which also does not resolve. Recorded as published; not corrected.
