openapi: 3.0.3
info:
  title: BigPanda Alert Ingestion (OIM) API
  description: BigPanda Alert Ingestion (OIM) operations, assembled verbatim from the OpenAPI fragments BigPanda publishes
    on its own API reference at https://api-docs.bigpanda.io/. Each operation carries x-source-url naming the exact provider
    page it was read from. BigPanda hosts each organization in a single data management region (US or EU); send requests to
    the base URL for your region.
  version: 1.0.0
  contact:
    name: BigPanda Support
    url: https://api-docs.bigpanda.io/
  license:
    name: Proprietary
    url: https://www.bigpanda.io/legal/
  x-provenance:
    method: searched
    source: https://api-docs.bigpanda.io/llms.txt
    harvested: '2026-09-04'
    assembly: 'Operations copied verbatim from the per-endpoint OpenAPI 3.0.1 fragments BigPanda publishes at https://api-docs.bigpanda.io/<endpoint>.md.
      Assembly-only normalizations: Apidog x-apidog security metadata stripped, securityScheme type "bearer" corrected to
      type http/scheme bearer, schema name collisions suffixed. No operation, parameter, schema or response was authored by
      API Evangelist.'
    operations: 26
servers:
- url: https://api.bigpanda.io
  description: US Region
- url: https://api.eu.bigpanda.io
  description: EU Region
tags:
- name: Alert Ingestion (OIM)
paths:
  /oim/{integration}/alerts:
    post:
      summary: Add an alert payload for OIM normalization and processing
      deprecated: false
      description: Add an alert payload for OIM normalization and processing
      operationId: ingestAlert
      tags:
      - Alert Ingestion (OIM)
      parameters:
      - name: integration
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
              x-apidog-orders: []
      responses:
        '201':
          x-apidog-ordering: 0
          description: created
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 2
          description: Unauthorized
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 3
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: ''
        '429':
          x-apidog-ordering: 4
          description: ''
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 5
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: ''
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770217-run
      x-source-url: https://api-docs.bigpanda.io/add-an-alert-payload-for-oim-normalization-and-processing-37770217e0.md
      x-source-page: Add an alert payload for OIM normalization and processing
  /oim/appdynamicsapi_v3/alerts:
    post:
      summary: AppDynamics
      deprecated: false
      description: Reference payload for AppDynamics. Shows the well-formed OIM alert payload shape for a AppDynamics source
        — send it against a test integration's app key to validate the pipeline end to end before connecting production traffic.
        Requires an existing AppDynamics integration in BigPanda; the payload normalizes through that integration's parsing
        rules.
      operationId: postOimAppdynamicsapiV3Alerts
      tags:
      - Alert Ingestion (OIM)
      parameters:
      - name: access_token
        in: query
        description: ''
        required: false
        example: '{ACCESS_TOKEN}'
        schema:
          type: string
      - name: app_key
        in: query
        description: ''
        required: false
        example: '{APP_KEY}'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: false
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: false
        example: Bearer {ORG_BEARER_TOKEN}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                clamp_limit:
                  type: integer
                notes:
                  type: string
                clamped:
                  type: boolean
                policy_id:
                  type: string
                  format: utc-millisec
                action_trigger_time:
                  type: string
                  format: style
                from_web_hook:
                  type: boolean
                full_events_list:
                  type: array
                  items:
                    type: object
                    properties:
                      severity:
                        type: string
                      deep_link_url:
                        type: string
                        format: uri
                      summary_message:
                        type: string
                      APPLICATION_id:
                        type: string
                        format: utc-millisec
                      APPLICATION_COMPONENT_NODE_id:
                        type: string
                        format: utc-millisec
                      APPLICATION_name:
                        type: string
                      display_name:
                        type: string
                      title:
                        type: string
                        format: style
                      bt_performance_event:
                        type: boolean
                      APPLICATION_COMPONENT_id:
                        type: string
                        format: utc-millisec
                      app_name:
                        type: string
                      event_type:
                        type: string
                      appd_event_type:
                        type: string
                      APPLICATION_COMPONENT_name:
                        type: string
                      guid:
                        type: string
                      affected_entities:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                            id:
                              type: integer
                          x-apidog-orders:
                          - name
                          - type
                          - id
                          x-apidog-ignore-properties: []
                      event_message:
                        type: string
                      tag:
                        type: string
                      app_id:
                        type: integer
                      event_type_key:
                        type: string
                      event_time:
                        type: string
                        format: style
                      APPLICATION_COMPONENT_NODE_name:
                        type: string
                      event_type_severity:
                        type: string
                      object:
                        type: string
                    x-apidog-orders:
                    - severity
                    - deep_link_url
                    - summary_message
                    - APPLICATION_id
                    - APPLICATION_COMPONENT_NODE_id
                    - APPLICATION_name
                    - display_name
                    - title
                    - bt_performance_event
                    - APPLICATION_COMPONENT_id
                    - app_name
                    - event_type
                    - appd_event_type
                    - APPLICATION_COMPONENT_name
                    - guid
                    - affected_entities
                    - event_message
                    - tag
                    - app_id
                    - event_type_key
                    - event_time
                    - APPLICATION_COMPONENT_NODE_name
                    - event_type_severity
                    - object
                    x-apidog-ignore-properties: []
                policy_name:
                  type: string
                account_id:
                  type: string
                  format: utc-millisec
                action_id:
                  type: string
                  format: color
                account_name:
                  type: string
                action_name:
                  type: string
                controller_link_url:
                  type: string
                  format: uri
                policy_digest:
                  type: boolean
              x-apidog-orders:
              - clamp_limit
              - notes
              - clamped
              - policy_id
              - action_trigger_time
              - from_web_hook
              - full_events_list
              - policy_name
              - account_id
              - action_id
              - account_name
              - action_name
              - controller_link_url
              - policy_digest
              x-apidog-ignore-properties: []
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic201response'
          headers: {}
          x-apidog-name: ''
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770232-run
      x-source-url: https://api-docs.bigpanda.io/appdynamics-37770232e0.md
      x-source-page: AppDynamics
  /oim/azure_monitor_v2/alerts:
    post:
      summary: Azure
      deprecated: false
      description: Reference payload for Azure Monitor. Shows the well-formed OIM alert payload shape for a Azure Monitor
        source — send it against a test integration's app key to validate the pipeline end to end before connecting production
        traffic. Requires an existing Azure Monitor integration in BigPanda; the payload normalizes through that integration's
        parsing rules.
      operationId: postOimAzureMonitorV2Alerts
      tags:
      - Alert Ingestion (OIM)
      parameters:
      - name: access_token
        in: query
        description: ''
        required: false
        example: '{access_token}'
        schema:
          type: string
      - name: app_key
        in: query
        description: ''
        required: false
        example: '{app_key}'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: false
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: false
        example: Bearer {ORG_BEARER_TOKEN}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    essentials:
                      type: object
                      properties:
                        severity:
                          type: string
                        monitorCondition:
                          type: string
                        monitoringService:
                          type: string
                        description:
                          type: string
                        alertRule:
                          type: string
                        originAlertId:
                          type: string
                        essentialsVersion:
                          type: string
                          format: utc-millisec
                        alertContextVersion:
                          type: string
                          format: utc-millisec
                        alertTargetIDs:
                          type: array
                          items:
                            type: string
                        configurationItems:
                          type: array
                          items:
                            type: string
                        signalType:
                          type: string
                        firedDateTime:
                          type: string
                          format: date-time
                        alertId:
                          type: string
                      x-apidog-orders:
                      - severity
                      - monitorCondition
                      - monitoringService
                      - description
                      - alertRule
                      - originAlertId
                      - essentialsVersion
                      - alertContextVersion
                      - alertTargetIDs
                      - configurationItems
                      - signalType
                      - firedDateTime
                      - alertId
                      x-apidog-ignore-properties: []
                    alertContext:
                      type: object
                      properties:
                        eventDataId:
                          type: string
                        level:
                          type: string
                        eventSource:
                          type: string
                        Activity Log Event Description:
                          type: string
                        operationName:
                          type: string
                        subStatus:
                          type: string
                        submissionTimestamp:
                          type: string
                          format: date-time
                        authorization:
                          type: object
                          properties:
                            action:
                              type: string
                            scope:
                              type: string
                          x-apidog-orders:
                          - action
                          - scope
                          x-apidog-ignore-properties: []
                        caller:
                          type: string
                          format: email
                        channels:
                          type: string
                        claims:
                          type: string
                          format: style
                        operationId:
                          type: string
                        correlationId:
                          type: string
                        properties:
                          type: object
                          properties:
                            eventCategory:
                              type: string
                            message:
                              type: string
                            entity:
                              type: string
                            hierarchy:
                              type: string
                          x-apidog-orders:
                          - eventCategory
                          - message
                          - entity
                          - hierarchy
                          x-apidog-ignore-properties: []
                        eventTimestamp:
                          type: string
                          format: date-time
                        status:
                          type: string
                      x-apidog-orders:
                      - eventDataId
                      - level
                      - eventSource
                      - Activity Log Event Description
                      - operationName
                      - subStatus
                      - submissionTimestamp
                      - authorization
                      - caller
                      - channels
                      - claims
                      - operationId
                      - correlationId
                      - properties
                      - eventTimestamp
                      - status
                      x-apidog-ignore-properties: []
                    customProperties:
                      type: object
                      x-apidog-orders: []
                      properties: {}
                      x-apidog-ignore-properties: []
                  x-apidog-orders:
                  - essentials
                  - alertContext
                  - customProperties
                  x-apidog-ignore-properties: []
                schemaId:
                  type: string
              x-apidog-orders:
              - data
              - schemaId
              x-apidog-ignore-properties: []
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic201response'
          headers: {}
          x-apidog-name: ''
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770239-run
      x-source-url: https://api-docs.bigpanda.io/azure-37770239e0.md
      x-source-page: Azure
  /oim/meraki/alerts:
    post:
      summary: Cisco Meraki
      deprecated: false
      description: Reference payload for Cisco Meraki. Shows the well-formed OIM alert payload shape for a Cisco Meraki source
        — send it against a test integration's app key to validate the pipeline end to end before connecting production traffic.
        Requires an existing Cisco Meraki integration in BigPanda; the payload normalizes through that integration's parsing
        rules.
      operationId: postOimMerakiAlerts
      tags:
      - Alert Ingestion (OIM)
      parameters:
      - name: access_token
        in: query
        description: ''
        required: false
        example: '{ACCESS_TOKEN}'
        schema:
          type: string
      - name: app_key
        in: query
        description: ''
        required: false
        example: '{APP_KEY}'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: false
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: false
        example: Bearer {BEARER_TOKEN}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceTags:
                  type: array
                  items:
                    type: string
                alertTypeId:
                  type: string
                occurredAt:
                  type: string
                  format: date-time
                alertType:
                  type: string
                organizationName:
                  type: string
                networkName:
                  type: string
                alertLevel:
                  type: string
                sentAt:
                  type: string
                alertData:
                  type: object
                  properties:
                    peerNetworkName:
                      type: string
                    vap:
                      type: string
                      format: utc-millisec
                    connectivity:
                      type: string
                    vpnType:
                      type: string
                    peerNetworkId:
                      type: string
                    onSecondary:
                      type: boolean
                    peerNetworkUrl:
                      type: string
                      format: uri
                    secondaryEndpoint:
                      type: string
                      format: ip-address
                    primaryEndpoint:
                      type: string
                      format: ip-address
                  x-apidog-orders:
                  - peerNetworkName
                  - vap
                  - connectivity
                  - vpnType
                  - peerNetworkId
                  - onSecondary
                  - peerNetworkUrl
                  - secondaryEndpoint
                  - primaryEndpoint
                  x-apidog-ignore-properties: []
                organizationUrl:
                  type: string
                  format: uri
                version:
                  type: string
                deviceName:
                  type: string
                organizationId:
                  type: string
                deviceSerial:
                  type: string
                networkTags:
                  type: array
                  items:
                    type: string
                deviceMac:
                  type: string
                  format: style
                deviceUrl:
                  type: string
                  format: uri
                networkId:
                  type: string
                deviceModel:
                  type: string
                alertId:
                  type: string
                sharedSecret:
                  type: string
                networkUrl:
                  type: string
                  format: uri
              x-apidog-orders:
              - deviceTags
              - alertTypeId
              - occurredAt
              - alertType
              - organizationName
              - networkName
              - alertLevel
              - sentAt
              - alertData
              - organizationUrl
              - version
              - deviceName
              - organizationId
              - deviceSerial
              - networkTags
              - deviceMac
              - deviceUrl
              - networkId
              - deviceModel
              - alertId
              - sharedSecret
              - networkUrl
              x-apidog-ignore-properties: []
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic201response'
          headers: {}
          x-apidog-name: ''
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770233-run
      x-source-url: https://api-docs.bigpanda.io/cisco-meraki-37770233e0.md
      x-source-page: Cisco Meraki
  /oim/cloudwatch/alerts:
    post:
      summary: CloudWatch
      deprecated: false
      description: Reference payload for Amazon CloudWatch. Shows the well-formed OIM alert payload shape for a Amazon CloudWatch
        source — send it against a test integration's app key to validate the pipeline end to end before connecting production
        traffic. Requires an existing Amazon CloudWatch integration in BigPanda; the payload normalizes through that integration's
        parsing rules.
      operationId: postOimCloudwatchAlerts
      tags:
      - Alert Ingestion (OIM)
      parameters:
      - name: access_token
        in: query
        description: ''
        required: false
        example: '{ACCESS_TOKEN}'
        schema:
          type: string
      - name: app_key
        in: query
        description: ''
        required: false
        example: '{APP_KEY}'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: false
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: false
        example: Bearer {BEARER_TOKEN}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                updateDate:
                  type: string
                cancelDate:
                  type: string
                resourceId:
                  type: string
                criticality:
                  type: string
                incident_identifier:
                  type: string
                Risk:
                  type: string
                  format: utc-millisec
                type:
                  type: string
                recommendations:
                  type: string
                resourceKind:
                  type: string
                alertName:
                  type: string
                Efficiency:
                  type: string
                  format: utc-millisec
                alertId:
                  type: string
                __status:
                  type: string
                timestamp:
                  type: integer
                adapterKind:
                  type: string
                Health:
                  type: string
                  format: utc-millisec
                secondary_property:
                  type: string
                impact:
                  type: string
                resourceName:
                  type: string
                primary_property:
                  type: string
                subType:
                  type: string
                alertURL:
                  type: string
                  format: uri
                startDate:
                  type: string
                status:
                  type: string
              x-apidog-orders:
              - updateDate
              - cancelDate
              - resourceId
              - criticality
              - incident_identifier
              - Risk
              - type
              - recommendations
              - resourceKind
              - alertName
              - Efficiency
              - alertId
              - __status
              - timestamp
              - adapterKind
              - Health
              - secondary_property
              - impact
              - resourceName
              - primary_property
              - subType
              - alertURL
              - startDate
              - status
              x--orders:
              - updateDate
              - cancelDate
              - resourceId
              - criticality
              - incident_identifier
              - Risk
              - type
              - recommendations
              - resourceKind
              - alertName
              - Efficiency
              - alertId
              - __status
              - timestamp
              - adapterKind
              - Health
              - secondary_property
              - impact
              - resourceName
              - primary_property
              - subType
              - alertURL
              - startDate
              - status
              x--ignore-properties: []
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic201response2'
          headers: {}
          x-apidog-name: ''
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770234-run
      x-source-url: https://api-docs.bigpanda.io/cloudwatch-37770234e0.md
      x-source-page: CloudWatch
  /oim/cribl/alerts:
    post:
      summary: Cribl
      deprecated: false
      description: Reference payload for Cribl. Shows the well-formed OIM alert payload shape for a Cribl source — send it
        against a test integration's app key to validate the pipeline end to end before connecting production traffic. Requires
        an existing Cribl integration in BigPanda; the payload normalizes through that integration's parsing rules.
      operationId: postOimCriblAlerts
      tags:
      - Alert Ingestion (OIM)
      parameters:
      - name: access_token
        in: query
        description: ''
        required: false
        example: '{ACCESS_TOKEN}'
        schema:
          type: string
      - name: app_key
        in: query
        description: ''
        required: false
        example: '{APP_KEY}'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: false
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: false
        example: Bearer {BEARER_TOKEN}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  cluster:
                    type: string
                  host:
                    type: string
                  description:
                    type: string
                  check:
                    type: string
                  my_unique_attribute:
                    type: string
                  status:
                    type: string
                  timestamp:
                    type: integer
                x-apidog-orders:
                - cluster
                - host
                - description
                - check
                - my_unique_attribute
                - status
                - timestamp
                x-apidog-ignore-properties: []
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic201response'
          headers: {}
          x-apidog-name: ''
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770235-run
      x-source-url: https://api-docs.bigpanda.io/cribl-37770235e0.md
      x-source-page: Cribl
  /oim/datadog_v2/alerts:
    post:
      summary: DataDog
      deprecated: false
      description: Reference payload for Datadog. Shows the well-formed OIM alert payload shape for a Datadog source — send
        it against a test integration's app key to validate the pipeline end to end before connecting production traffic.
        Requires an existing Datadog integration in BigPanda; the payload normalizes through that integration's parsing rules.
      operationId: postOimDatadogV2Alerts
      tags:
      - Alert Ingestion (OIM)
      parameters:
      - name: app_key
        in: query
        description: ''
        required: false
        example: '{app_key}'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: false
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: false
        example: Bearer {ORG_BEARER_TOKEN}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: utc-millisec
                automatic-restart:
                  type: string
                internal-hostname:
                  type: string
                project:
                  type: string
                body:
                  type: string
                  format: style
                alert_metric:
                  type: object
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                event_type:
                  type: string
                sanitizeMarkdown_replace_body:
                  type: string
                  format: style
                zone:
                  type: string
                host:
                  type: array
                  items:
                    type: string
                kube_cluster_name:
                  type: string
                datadog_app:
                  type: string
                id:
                  type: string
                  format: utc-millisec
                cluster-uid:
                  type: string
                last_updated:
                  type: string
                  format: utc-millisec
                user_email:
                  type: object
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                instance-template:
                  type: string
                instance-type:
                  type: string
                priority:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                    format: uri
                alert_status:
                  type: string
                gci-metrics-enabled:
                  type: string
                name:
                  type: string
                region:
                  type: string
                aggreg_key:
                  type: string
                  format: style
                replace_body:
                  type: string
                  format: style
                status:
                  type: string
                purpose:
                  type: string
                link:
                  type: string
                  format: uri
                description:
                  type: string
                datadog_demo_keep:
                  type: string
                title:
                  type: string
                  format: style
                alert_transition:
                  type: string
                gci-ensure-gke-docker:
                  type: string
                numeric_project_id:
                  type: array
                  items:
                    type: string
                    format: utc-millisec
                datadog_org_id:
                  type: string
                  format: utc-millisec
                cluster-location:
                  type: string
                cluster_name:
                  type: array
                  items:
                    type: string
                alert_query:
                  type: string
                  format: style
                creator:
                  type: string
                instance-id:
                  type: string
                  format: utc-millisec
                kube-labels:
                  type: string
                on-host-maintenance:
                  type: string
                google-compute-enable-pcid:
                  type: string
                cloud_provider:
                  type: string
                env:
                  type: string
                availability-zone:
                  type: string
                gci-update-strategy:
                  type: string
                created-by:
                  type: string
              x-apidog-orders:
              - date
              - automatic-restart
              - internal-hostname
              - project
              - body
              - alert_metric
              - event_type
              - sanitizeMarkdown_replace_body
              - zone
              - host
              - kube_cluster_name
              - datadog_app
              - id
              - cluster-uid
              - last_updated
              - user_email
              - instance-template
              - instance-type
              - priority
              - tags
              - alert_status
              - gci-metrics-enabled
              - name
              - region
              - aggreg_key
              - replace_body
              - status
              - purpose
              - link
              - description
              - datadog_demo_keep
              - title
              - alert_transition
              - gci-ensure-gke-docker
              - numeric_project_id
              - datadog_org_id
              - cluster-location
              - cluster_name
              - alert_query
              - creator
              - instance-id
              - kube-labels
              - on-host-maintenance
              - google-compute-enable-pcid
              - cloud_provider
              - env
              - availability-zone
              - gci-update-strategy
              - created-by
              x-apidog-ignore-properties: []
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic201response'
          headers: {}
          x-apidog-name: ''
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770238-run
      x-source-url: https://api-docs.bigpanda.io/datadog-37770238e0.md
      x-source-page: DataDog
  /oim/dynatrace_v2/alerts:
    post:
      summary: Dynatrace
      deprecated: false
      description: Reference payload for Dynatrace. Shows the well-formed OIM alert payload shape for a Dynatrace source —
        send it against a test integration's app key to validate the pipeline end to end before connecting production traffic.
        Requires an existing Dynatrace integration in BigPanda; the payload normalizes through that integration's parsing
        rules.
      operationId: postOimDynatraceV2Alerts
      tags:
      - Alert Ingestion (OIM)
      parameters:
      - name: access_token
        in: query
        description: ''
        required: false
        example: '{access_token}'
        schema:
          type: string
      - name: app_key
        in: query
        description: ''
        required: false
        example: '{app_key}'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: false
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: false
        example: Bearer {x-auth-token}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                app_key:
                  type: string
                ProblemID:
                  type: string
                ProblemTitle:
                  type: string
                ProblemImpact:
                  type: string
                ImpactedEntity:
                  type: string
                State:
                  type: string
                ProblemDetailsJSON:
                  type: object
                  properties:
                    tagsOfAffectedEntities:
                      type: array
                      items:
                        type: object
                        properties:
                          context:
                            type: string
                          value:
                            type: string
                          key:
                            type: string
                        x-apidog-orders:
                        - context
                        - value
                        - key
                        x-apidog-ignore-properties: []
                    displayName:
                      type: string
                    commentCount:
                      type: integer
                    affectedCounts:
                      type: object
                      properties:
                        INFRASTRUCTURE:
                          type: integer
                        SERVICE:
                          type: integer
                        APPLICATION:
                          type: integer
                        ENVIRONMENT:
                          type: integer
                      x-apidog-orders:
                      - INFRASTRUCTURE
                      - SERVICE
                      - APPLICATION
                      - ENVIRONMENT
                      x-apidog-ignore-properties: []
                    hasRootCause:
                      type: boolean
                    impactLevel:
                      type: string
                    severityLevel:
                      type: string
                    rankedImpacts:
                      type: array
                      items:
                        type: object
                        properties:
                          impactLevel:
                            type: string
                          severityLevel:
                            type: string
                          entityId:
                            type: string
                          eventType:
                            type: string
                          entityName:
                            type: string
                        x-apidog-orders:
                        - impactLevel
                        - severityLevel
                        - entityId
                        - eventType
                        - entityName
                        x-apidog-ignore-properties: []
                    recoveredCounts:
                      type: object
                      properties:
                        INFRASTRUCTURE:
                          type: integer
                        SERVICE:
                          type: integer
                        APPLICATION:
                          type: integer
                        ENVIRONMENT:
                          type: integer
                      x-apidog-orders:
                      - INFRASTRUCTURE
                      - SERVICE
                      - APPLICATION
                      - ENVIRONMENT
                      x-apidog-ignore-properties: []
                    startTime:
                      type: integer
                    id:
                      type: string
                    endTime:
                      type: integer
                    rankedEvents:
                      type: array
                      items:
                        type: object
                        properties:
                          impactLevel:
                            type: string
                          isRootCause:
                            type: boolean
                          severityLevel:
                            type: string
                          entityName:
                            type: string
                          annotationDescription:
                            type: string
                          startTime:
                            type: integer
                          entityId:
                            type: string
                          correlationId:
                            type: string
                          endTime:
                            type: integer
                          eventType:
                            type: string
                          status:
                            type: string
                          severities:
                            type: array
                            items:
                              type: string
                        x-apidog-orders:
                        - impactLevel
                        - isRootCause
                        - severityLevel
                        - entityName
                        - annotationDescription
                        - startTime
                        - entityId
                        - correlationId
                        - endTime
                        - eventType
                        - status
                        - severities
                        x-apidog-ignore-properties: []
                    status:
                      type: string
                  x-apidog-orders:
                  - tagsOfAffectedEntities
                  - displayName
                  - commentCount
                  - affectedCounts
                  - hasRootCause
                  - impactLevel
                  - severityLevel
                  - rankedImpacts
                  - recoveredCounts
                  - startTime
                  - id
                  - endTime
                  - rankedEvents
                  - status
                  x-apidog-ignore-properties: []
                PID:
                  type: string
                ProblemDetails:
                  type: string
                Tags:
                  type: string
                  format: style
                ProblemURL:
                  type: string
                  format: uri
              x-apidog-orders:
              - app_key
              - ProblemID
              - ProblemTitle
              - ProblemImpact
              - ImpactedEntity
              - State
              - ProblemDetailsJSON
              - PID
              - ProblemDetails
              - Tags
              - ProblemURL
              x-apidog-ignore-properties: []
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic201response'
          headers: {}
          x-apidog-name: ''
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770230-run
      x-source-url: https://api-docs.bigpanda.io/dynatrace-37770230e0.md
      x-source-page: Dynatrace
  /oim/entuity/alerts:
    post:
      summary: Entuity
      deprecated: false
      description: Reference payload for Entuity. Shows the well-formed OIM alert payload shape for a Entuity source — send
        it against a test integration's app key to validate the pipeline end to end before connecting production traffic.
        Requires an existing Entuity integration in BigPanda; the payload normalizes through that integration's parsing rules.
      operationId: postOimEntuityAlerts
      tags:
      - Alert Ingestion (OIM)
      parameters:
      - name: access_token
        in: query
        description: ''
        required: false
        example: '{ACCESS_TOKEN}'
        schema:
          type: string
      - name: app_key
        in: query
        description: ''
        required: false
        example: '{APP_KEY}'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: false
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: false
        example: Bearer {BEARER_TOKEN}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                incident_type:
                  type: integer
                sourceDescriptor_externalId:
                  type: object
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                incident_sourceHostAndPort:
                  type: string
                  format: uri
                incident_lastClosedBy:
                  type: object
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                actor_name:
                  type: string
                incident_sourceSwType:
                  type: string
                incident_contextEvent:
                  type: object
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                actor_ageOutMs:
                  type: integer
                incident_annotatedMs:
                  type: integer
                incident_incident:
                  type: boolean
                sourceDescriptor_containerDeviceId:
                  type: integer
                sourceDescriptor_containerPortId:
                  type: integer
                incident_id:
                  type: integer
                incident_sourceZoneID:
                  type: integer
                incident_contributors:
                  type: array
                  items:
                    type: string
                incident_reason:
                  type: string
                  format: style
                id:
                  type: string
                incident_consolidatedSourceHostAndPort:
                  type: string
                  format: uri
                sourceDescriptor_classicType:
                  type: integer
                sourceDescriptor_zoneID:
                  type: integer
                incident_stateOpen:
                  type: boolean
                incident_sourceCompIdString:
                  type: string
                sourceDescriptor_swType:
                  type: string
                incident_sourceZoneName:
                  type: string
                sourceDescriptor_missingEyeServerId:
                  type: boolean
                incident_events:
                  type: array
                  items:
                    type: string
                incident_severity:
                  type: integer
                incident_firstOpenedMs:
                  type: integer
                sourceDescriptor_deviceId:
                  type: integer
                sourceDescriptor_classicId0:
                  type: integer
                sourceDescriptor_classicId1:
                  type: integer
                actor_id:
                  type: string
                incident_assignedMs:
                  type: integer
                sourceDescriptor_objectName:
                  type: object
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                sourceDescriptor_name:
                  type: string
                incident_lastOpenedMs:
                  type: integer
                sourceDescriptor_eyeServerIdString:
                  type: string
                incident_sourceExternalId:
                  type: object
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                incident_lastUpdatedMs:
                  type: integer
                incident_lastClosedMs:
                  type: integer
                incident_sourceSwId:
                  type: integer
                sourceDescriptor_containerDeviceSwId:
                  type: integer
                incident_state:
                  type: integer
                incident_name:
                  type: string
                incidentClosed:
                  type: boolean
                sourceDescriptor_swId:
                  type: integer
                incident_annotatedBy:
                  type: object
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                entuity_url:
                  type: string
                  format: uri
                incident_impactDescr:
                  type: string
                sourceDescriptor_zoneName:
                  type: string
                incident_sourceServerId:
                  type: string
                actor_type:
                  type: integer
                incident_sourceName:
                  type: string
                incident_sourceContainerName:
                  type: string
                incident_assignedTo:
                  type: object
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                incident_components:
                  type: array
                  items:
                    type: string
                sourceDescriptor_eyeServerId:
                  type: string
                incident_shortHostname:
                  type: string
                sourceDescriptor_containerName:
                  type: string
                actor_reopeningWindowMs:
                  type: integer
                sourceDescriptor_classicPortId:
                  type: integer
                sourceDescriptor_classicViewId:
                  type: integer
                incident_annotation:
                  type: object
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                sourceDescriptor_classicDeviceId:
                  type: integer
              x-apidog-orders:
              - incident_type
              - sourceDescriptor_externalId
              - incident_sourceHostAndPort
              - incident_lastClosedBy
              - actor_name
              - incident_sourceSwType
              - incident_contextEvent
              - actor_ageOutMs
              - incident_annotatedMs
              - incident_incident
              - sourceDescriptor_containerDeviceId
              - sourceDescriptor_containerPortId
              - incident_id
              - incident_sourceZoneID
              - incident_contributors
              - incident_reason
              - id
              - incident_consolidatedSourceHostAndPort
              - sourceDescriptor_classicType
              - sourceDescriptor_zoneID
              - incident_stateOpen
              - incident_sourceCompIdString
              - sourceDescriptor_swType
              - incident_sourceZoneName
              - sourceDescriptor_missingEyeServerId
              - incident_events
              - incident_severity
              - incident_firstOpenedMs
              - sourceDescriptor_deviceId
              - sourceDescriptor_classicId0
              - sourceDescriptor_classicId1
              - actor_id
              - incident_assignedMs
              - sourceDescriptor_objectName
              - sourceDescriptor_name
              - incident_lastOpenedMs
              - sourceDescriptor_eyeServerIdString
              - incident_sourceExternalId
              - incident_lastUpdatedMs
              - incident_lastClosedMs
              - incident_sourceSwId
              - sourceDescriptor_containerDeviceSwId
              - incident_state
              - incident_name
              - incidentClosed
              - sourceDescriptor_swId
              - incident_annotatedBy
              - entuity_url
              - incident_impactDescr
              - sourceDescriptor_zoneName
              - incident_sourceServerId
              - actor_type
              - incident_sourceName
              - incident_sourceContainerName
              - incident_assignedTo
              - incident_components
              - sourceDescriptor_eyeServerId
              - incident_shortHostname
              - sourceDescriptor_containerName
              - actor_reopeningWindowMs
              - sourceDescriptor_classicPortId
              - sourceDescriptor_classicViewId
              - incident_annotation
              - sourceDescriptor_classicDeviceId
              x-apidog-ignore-properties: []
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic201response'
          headers: {}
          x-apidog-name: ''
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770236-run
      x-source-url: https://api-docs.bigpanda.io/entuity-37770236e0.md
      x-source-page: Entuity
  /oim/logscale/alerts:
    post:
      summary: LogScale
      deprecated: false
      description: 'Ingest alerts from Falcon LogScale (formerly Humio) through the out-of-the-box LogScale integration.

        > ❗ API endpoint > > This API is called at `integrations.bigpanda.io`, not `api.bigpanda.io`.

        '
      operationId: postOimLogscaleAlerts
      tags:
      - Alert Ingestion (OIM)
      parameters:
      - name: access_token
        in: query
        description: ''
        required: true
        example: '{{ACCESS_TOKEN}}'
        schema:
          type: string
      - name: app_key
        in: query
        description: ''
        required: true
        example: '{{APP_KEY}}'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{BEARER_TOKEN}}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                repository:
                  type: string
                alert:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    id:
                      type: string
                    notifierID:
                      type: string
                    query:
                      type: object
                      properties:
                        queryString:
                          type: string
                        start:
                          type: string
                        end:
                          type: string
                      required:
                      - queryString
                      - start
                      - end
                      x-apidog-orders:
                      - queryString
                      - start
                      - end
                  required:
                  - name
                  - description
                  - id
                  - notifierID
                  - query
                  x-apidog-orders:
                  - name
                  - description
                  - id
                  - notifierID
                  - query
                events:
                  type: array
                  items:
                    type: object
                    properties:
                      '#humioAutoShard':
                        type: string
                      cluster:
                        type: string
                      kubernetes.labels.app.kubernetes.io/instance:
                        type: string
                      log:
                        type: string
                      kubernetes.labels.app.kubernetes.io/name:
                        type: string
                      kubernetes.annotations.kubernetes.io/psp:
                        type: string
                      kubernetes.labels.app.kubernetes.io/component:
                        type: string
                      kubernetes.labels.app:
                        type: string
                      stream:
                        type: string
                      kubernetes.container_image:
                        type: string
                      '@id':
                        type: string
                      kubernetes.host:
                        type: string
                      '@host':
                        type: string
                      '@timezone':
                        type: string
                      '@timestamp.nanos':
                        type: string
                      kubernetes.container_hash:
                        type: string
                      kubernetes.container_name:
                        type: string
                      index:
                        type: string
                      kubernetes.labels.pod-template-generation:
                        type: string
                      kubernetes.namespace_name:
                        type: string
                      '@ingesttimestamp':
                        type: string
                      kubernetes.docker_id:
                        type: string
                      environment:
                        type: string
                      '@timestamp':
                        type: string
                      kubernetes.pod_id:
                        type: string
                      kubernetes.labels.controller-revision-hash:
                        type: string
                      '#repo':
                        type: string
                      kubernetes.pod_name:
                        type: string
                      '@rawstring':
                        type: string
                      time:
                        type: string
                      '#type':
                        type: string
                    required:
                    - '#humioAutoShard'
                    - cluster
                    - kubernetes.labels.app.kubernetes.io/instance
                    - log
                    - kubernetes.labels.app.kubernetes.io/name
                    - kubernetes.annotations.kubernetes.io/psp
                    - kubernetes.labels.app.kubernetes.io/component
                    - kubernetes.labels.app
                    - stream
                    - kubernetes.container_image
                    - '@id'
                    - kubernetes.host
                    - '@host'
                    - '@timezone'
                    - '@timestamp.nanos'
                    - kubernetes.container_hash
                    - kubernetes.container_name
                    - index
                    - kubernetes.labels.pod-template-generation
                    - kubernetes.namespace_name
                    - '@ingesttimestamp'
                    - kubernetes.docker_id
                    - environment
                    - '@timestamp'
                    - kubernetes.pod_id
                    - kubernetes.labels.controller-revision-hash
                    - '#repo'
                    - kubernetes.pod_name
                    - '@rawstring'
                    - time
                    - '#type'
                    x-apidog-orders:
                    - '#humioAutoShard'
                    - cluster
                    - kubernetes.labels.app.kubernetes.io/instance
                    - log
                    - kubernetes.labels.app.kubernetes.io/name
                    - kubernetes.annotations.kubernetes.io/psp
                    - kubernetes.labels.app.kubernetes.io/component
                    - kubernetes.labels.app
                    - stream
                    - kubernetes.container_image
                    - '@id'
                    - kubernetes.host
                    - '@host'
                    - '@timezone'
                    - '@timestamp.nanos'
                    - kubernetes.container_hash
                    - kubernetes.container_name
                    - index
                    - kubernetes.labels.pod-template-generation
                    - kubernetes.namespace_name
                    - '@ingesttimestamp'
                    - kubernetes.docker_id
                    - environment
                    - '@timestamp'
                    - kubernetes.pod_id
                    - kubernetes.labels.controller-revision-hash
                    - '#repo'
                    - kubernetes.pod_name
                    - '@rawstring'
                    - time
                    - '#type'
                numberOfEvents:
                  type: integer
                timestamp:
                  type: string
                warnings:
                  type: string
              required:
              - repository
              - alert
              - events
              - numberOfEvents
              - timestamp
              - warnings
              x-apidog-orders:
              - repository
              - alert
              - events
              - numberOfEvents
              - timestamp
              - warnings
            example:
              repository: container-platform
              alert:
                name: Panda
                description: ''
                id: RebLyUN1OBDrKcUZBjiQK3GfexPJWyIZ
                notifierID: J0yENSVKgdGojxUKozSltnCIg8SuSgSJ
                query:
                  queryString: 'index = "dev-level-2" | "[error]" | !"dns_lookup" '
                  start: 1m
                  end: now
              events:
              - '#humioAutoShard': '19'
                cluster: dev-level-2
                kubernetes.labels.app.kubernetes.io/instance: ingress-nginx
                log: '2023/05/03 20:48:47 [error] 31840#31840: *269463007 recv() failed (104: Connection reset by peer) while
                  reading response header from upstream, client: 10.45.51.124, server: _, request: "POST /engine-rest/external-task/fetchAndLock
                  HTTP/1.1", upstream: "http://10.42.4.176:8080/engine-rest/external-task/fetchAndLock", host: "workflow-incoming-goods-dev.dev2.paas.rewe.local"

                  '
                kubernetes.labels.app.kubernetes.io/name: ingress-nginx
                kubernetes.annotations.kubernetes.io/psp: default-psp
                kubernetes.labels.app.kubernetes.io/component: controller
                kubernetes.labels.app: ingress-nginx
                stream: stderr
                kubernetes.container_image: docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1
                '@id': VXxnP41JSac7hghs3t2Ncclf_6238_164_1683146927
                kubernetes.host: vvm2939
                '@host': rancher-logging-operator-root-fluentd-1
                '@timezone': Z
                '@timestamp.nanos': '563701'
                kubernetes.container_hash: docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560
                kubernetes.container_name: controller
                index: dev-level-2
                kubernetes.labels.pod-template-generation: '23'
                kubernetes.namespace_name: ingress-nginx
                '@ingesttimestamp': '1683146932823'
                kubernetes.docker_id: aebb570eaa583c33ee826d9d86324d86e89112b0533451146037a6ad6dee2144
                environment: prod
                '@timestamp': '1683146927006'
                kubernetes.pod_id: c39eb5b2-f0e3-4c78-ac13-695067fbbb1c
                kubernetes.labels.controller-revision-hash: 7c546bdb79
                '#repo': container-platform
                kubernetes.pod_name: nginx-ingress-controller-s9d2g
                '@rawstring': '{"log":"2023/05/03 20:48:47 [error] 31840#31840: *269463007 recv() failed (104: Connection
                  reset by peer) while reading response header from upstream, client: 10.45.51.124, server: _, request: \"POST
                  /engine-rest/external-task/fetchAndLock HTTP/1.1\", upstream: \"http://10.42.4.176:8080/engine-rest/external-task/fetchAndLock\",
                  host: \"workflow-incoming-goods-dev.dev2.paas.rewe.local\"\n","stream":"stderr","time":"2023-05-03T20:48:47.006563701Z","kubernetes":{"pod_name":"nginx-ingress-controller-s9d2g","namespace_name":"ingress-nginx","pod_id":"c39eb5b2-f0e3-4c78-ac13-695067fbbb1c","labels":{"app":"ingress-nginx","app.kubernetes.io/component":"controller","app.kubernetes.io/instance":"ingress-nginx","app.kubernetes.io/name":"ingress-nginx","controller-revision-hash":"7c546bdb79","pod-template-generation":"23"},"annotations":{"kubernetes.io/psp":"default-psp"},"host":"vvm2939","container_name":"controller","docker_id":"aebb570eaa583c33ee826d9d86324d86e89112b0533451146037a6ad6dee2144","container_hash":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560","container_image":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1"},"index":"dev-level-2","cluster":"dev-level-2","environment":"prod"}'
                time: '2023-05-03T20:48:47.006563701Z'
                '#type': json-time
              - '#humioAutoShard': '1'
                cluster: dev-level-2
                kubernetes.labels.app.kubernetes.io/instance: ingress-nginx
                log: '2023/05/03 20:48:46 [error] 32035#32035: *269474265 connect() failed (111: Connection refused) while
                  connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local, request: "GET
                  /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1", upstream: "http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7",
                  host: "lpas-mock-server.dev2.paas.rewe.local"

                  '
                kubernetes.labels.app.kubernetes.io/name: ingress-nginx
                kubernetes.annotations.kubernetes.io/psp: default-psp
                kubernetes.labels.app.kubernetes.io/component: controller
                kubernetes.labels.app: ingress-nginx
                stream: stderr
                kubernetes.container_image: docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1
                '@id': GoWMfc0brzxvv5C6wTkkzOXX_1846_534_1683146926
                kubernetes.host: vvm2939
                '@host': rancher-logging-operator-root-fluentd-1
                '@timezone': Z
                '@timestamp.nanos': '880078'
                kubernetes.container_hash: docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560
                kubernetes.container_name: controller
                index: dev-level-2
                kubernetes.labels.pod-template-generation: '23'
                kubernetes.namespace_name: ingress-nginx
                '@ingesttimestamp': '1683146927778'
                kubernetes.docker_id: aebb570eaa583c33ee826d9d86324d86e89112b0533451146037a6ad6dee2144
                environment: prod
                '@timestamp': '1683146926355'
                kubernetes.pod_id: c39eb5b2-f0e3-4c78-ac13-695067fbbb1c
                kubernetes.labels.controller-revision-hash: 7c546bdb79
                '#repo': container-platform
                kubernetes.pod_name: nginx-ingress-controller-s9d2g
                '@rawstring': '{"log":"2023/05/03 20:48:46 [error] 32035#32035: *269474265 connect() failed (111: Connection
                  refused) while connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local,
                  request: \"GET /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1\", upstream: \"http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7\",
                  host: \"lpas-mock-server.dev2.paas.rewe.local\"\n","stream":"stderr","time":"2023-05-03T20:48:46.355880078Z","kubernetes":{"pod_name":"nginx-ingress-controller-s9d2g","namespace_name":"ingress-nginx","pod_id":"c39eb5b2-f0e3-4c78-ac13-695067fbbb1c","labels":{"app":"ingress-nginx","app.kubernetes.io/component":"controller","app.kubernetes.io/instance":"ingress-nginx","app.kubernetes.io/name":"ingress-nginx","controller-revision-hash":"7c546bdb79","pod-template-generation":"23"},"annotations":{"kubernetes.io/psp":"default-psp"},"host":"vvm2939","container_name":"controller","docker_id":"aebb570eaa583c33ee826d9d86324d86e89112b0533451146037a6ad6dee2144","container_hash":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560","container_image":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1"},"index":"dev-level-2","cluster":"dev-level-2","environment":"prod"}'
                time: '2023-05-03T20:48:46.355880078Z'
                '#type': json-time
              - '#humioAutoShard': '1'
                cluster: dev-level-2
                kubernetes.labels.app.kubernetes.io/instance: ingress-nginx
                log: '2023/05/03 20:48:46 [error] 32035#32035: *269474265 connect() failed (111: Connection refused) while
                  connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local, request: "GET
                  /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1", upstream: "http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7",
                  host: "lpas-mock-server.dev2.paas.rewe.local"

                  '
                kubernetes.labels.app.kubernetes.io/name: ingress-nginx
                kubernetes.annotations.kubernetes.io/psp: default-psp
                kubernetes.labels.app.kubernetes.io/component: controller
                kubernetes.labels.app: ingress-nginx
                stream: stderr
                kubernetes.container_image: docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1
                '@id': GoWMfc0brzxvv5C6wTkkzOXX_1846_533_1683146926
                kubernetes.host: vvm2939
                '@host': rancher-logging-operator-root-fluentd-1
                '@timezone': Z
                '@timestamp.nanos': '218081'
                kubernetes.container_hash: docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560
                kubernetes.container_name: controller
                index: dev-level-2
                kubernetes.labels.pod-template-generation: '23'
                kubernetes.namespace_name: ingress-nginx
                '@ingesttimestamp': '1683146927778'
                kubernetes.docker_id: aebb570eaa583c33ee826d9d86324d86e89112b0533451146037a6ad6dee2144
                environment: prod
                '@timestamp': '1683146926355'
                kubernetes.pod_id: c39eb5b2-f0e3-4c78-ac13-695067fbbb1c
                kubernetes.labels.controller-revision-hash: 7c546bdb79
                '#repo': container-platform
                kubernetes.pod_name: nginx-ingress-controller-s9d2g
                '@rawstring': '{"log":"2023/05/03 20:48:46 [error] 32035#32035: *269474265 connect() failed (111: Connection
                  refused) while connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local,
                  request: \"GET /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1\", upstream: \"http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7\",
                  host: \"lpas-mock-server.dev2.paas.rewe.local\"\n","stream":"stderr","time":"2023-05-03T20:48:46.355218081Z","kubernetes":{"pod_name":"nginx-ingress-controller-s9d2g","namespace_name":"ingress-nginx","pod_id":"c39eb5b2-f0e3-4c78-ac13-695067fbbb1c","labels":{"app":"ingress-nginx","app.kubernetes.io/component":"controller","app.kubernetes.io/instance":"ingress-nginx","app.kubernetes.io/name":"ingress-nginx","controller-revision-hash":"7c546bdb79","pod-template-generation":"23"},"annotations":{"kubernetes.io/psp":"default-psp"},"host":"vvm2939","container_name":"controller","docker_id":"aebb570eaa583c33ee826d9d86324d86e89112b0533451146037a6ad6dee2144","container_hash":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560","container_image":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1"},"index":"dev-level-2","cluster":"dev-level-2","environment":"prod"}'
                time: '2023-05-03T20:48:46.355218081Z'
                '#type': json-time
              - '#humioAutoShard': '1'
                cluster: dev-level-2
                kubernetes.labels.app.kubernetes.io/instance: ingress-nginx
                log: '2023/05/03 20:48:46 [error] 32035#32035: *269474265 connect() failed (111: Connection refused) while
                  connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local, request: "GET
                  /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1", upstream: "http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7",
                  host: "lpas-mock-server.dev2.paas.rewe.local"

                  '
                kubernetes.labels.app.kubernetes.io/name: ingress-nginx
                kubernetes.annotations.kubernetes.io/psp: default-psp
                kubernetes.labels.app.kubernetes.io/component: controller
                kubernetes.labels.app: ingress-nginx
                stream: stderr
                kubernetes.container_image: docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1
                '@id': GoWMfc0brzxvv5C6wTkkzOXX_1846_532_1683146926
                kubernetes.host: vvm2939
                '@host': rancher-logging-operator-root-fluentd-1
                '@timezone': Z
                '@timestamp.nanos': '354993'
                kubernetes.container_hash: docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560
                kubernetes.container_name: controller
                index: dev-level-2
                kubernetes.labels.pod-template-generation: '23'
                kubernetes.namespace_name: ingress-nginx
                '@ingesttimestamp': '1683146927778'
                kubernetes.docker_id: aebb570eaa583c33ee826d9d86324d86e89112b0533451146037a6ad6dee2144
                environment: prod
                '@timestamp': '1683146926354'
                kubernetes.pod_id: c39eb5b2-f0e3-4c78-ac13-695067fbbb1c
                kubernetes.labels.controller-revision-hash: 7c546bdb79
                '#repo': container-platform
                kubernetes.pod_name: nginx-ingress-controller-s9d2g
                '@rawstring': '{"log":"2023/05/03 20:48:46 [error] 32035#32035: *269474265 connect() failed (111: Connection
                  refused) while connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local,
                  request: \"GET /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1\", upstream: \"http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7\",
                  host: \"lpas-mock-server.dev2.paas.rewe.local\"\n","stream":"stderr","time":"2023-05-03T20:48:46.354354993Z","kubernetes":{"pod_name":"nginx-ingress-controller-s9d2g","namespace_name":"ingress-nginx","pod_id":"c39eb5b2-f0e3-4c78-ac13-695067fbbb1c","labels":{"app":"ingress-nginx","app.kubernetes.io/component":"controller","app.kubernetes.io/instance":"ingress-nginx","app.kubernetes.io/name":"ingress-nginx","controller-revision-hash":"7c546bdb79","pod-template-generation":"23"},"annotations":{"kubernetes.io/psp":"default-psp"},"host":"vvm2939","container_name":"controller","docker_id":"aebb570eaa583c33ee826d9d86324d86e89112b0533451146037a6ad6dee2144","container_hash":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560","container_image":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1"},"index":"dev-level-2","cluster":"dev-level-2","environment":"prod"}'
                time: '2023-05-03T20:48:46.354354993Z'
                '#type': json-time
              - '#humioAutoShard': '35'
                cluster: dev-level-2
                kubernetes.labels.app.kubernetes.io/instance: ingress-nginx
                log: '2023/05/03 20:48:32 [error] 35848#35848: *19957616 lua udp socket read timed out, context: ngx.timer

                  '
                kubernetes.labels.app.kubernetes.io/name: ingress-nginx
                kubernetes.annotations.kubernetes.io/psp: default-psp
                kubernetes.labels.app.kubernetes.io/component: controller
                kubernetes.labels.app: ingress-nginx
                stream: stderr
                kubernetes.container_image: docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1
                '@id': LLXG351zJzleLnw2BhQ28Opg_6501_377_1683146912
                kubernetes.host: vvm3031
                '@host': rancher-logging-operator-root-fluentd-0
                '@timezone': Z
                '@timestamp.nanos': '177885'
                kubernetes.container_hash: docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560
                kubernetes.container_name: controller
                index: dev-level-2
                kubernetes.labels.pod-template-generation: '23'
                kubernetes.namespace_name: ingress-nginx
                '@ingesttimestamp': '1683146916987'
                kubernetes.docker_id: 6c46bd19f6bbc972d21820836830d185505defa71f06ff49c81c6623ea83a20e
                environment: prod
                '@timestamp': '1683146912130'
                kubernetes.pod_id: 04d5b4d6-523d-438c-949d-d7939c8621e5
                kubernetes.labels.controller-revision-hash: 7c546bdb79
                '#repo': container-platform
                kubernetes.pod_name: nginx-ingress-controller-86kd4
                '@rawstring': '{"log":"2023/05/03 20:48:32 [error] 35848#35848: *19957616 lua udp socket read timed out, context:
                  ngx.timer\n","stream":"stderr","time":"2023-05-03T20:48:32.130177885Z","kubernetes":{"pod_name":"nginx-ingress-controller-86kd4","namespace_name":"ingress-nginx","pod_id":"04d5b4d6-523d-438c-949d-d7939c8621e5","labels":{"app":"ingress-nginx","app.kubernetes.io/component":"controller","app.kubernetes.io/instance":"ingress-nginx","app.kubernetes.io/name":"ingress-nginx","controller-revision-hash":"7c546bdb79","pod-template-generation":"23"},"annotations":{"kubernetes.io/psp":"default-psp"},"host":"vvm3031","container_name":"controller","docker_id":"6c46bd19f6bbc972d21820836830d185505defa71f06ff49c81c6623ea83a20e","container_hash":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560","container_image":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1"},"index":"dev-level-2","cluster":"dev-level-2","environment":"prod"}'
                time: '2023-05-03T20:48:32.130177885Z'
                '#type': json-time
              - '#humioAutoShard': '13'
                cluster: dev-level-2
                kubernetes.labels.app.kubernetes.io/instance: ingress-nginx
                log: '2023/05/03 20:48:31 [error] 23476#23476: *269341446 connect() failed (111: Connection refused) while
                  connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local, request: "GET
                  /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1", upstream: "http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7",
                  host: "lpas-mock-server.dev2.paas.rewe.local"

                  '
                kubernetes.labels.app.kubernetes.io/name: ingress-nginx
                kubernetes.annotations.kubernetes.io/psp: default-psp
                kubernetes.labels.app.kubernetes.io/component: controller
                kubernetes.labels.app: ingress-nginx
                stream: stderr
                kubernetes.container_image: docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1
                '@id': ZDKj351HTNfjZpqjGEggRgpm_4672_62_1683146911
                kubernetes.host: vvm2947
                '@host': rancher-logging-operator-root-fluentd-0
                '@timezone': Z
                '@timestamp.nanos': '997181'
                kubernetes.container_hash: docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560
                kubernetes.container_name: controller
                index: dev-level-2
                kubernetes.labels.pod-template-generation: '23'
                kubernetes.namespace_name: ingress-nginx
                '@ingesttimestamp': '1683146916981'
                kubernetes.docker_id: 6392bf42768b023911baa29e1b7e3b84cec0b7ab46253e1cde393ee4f1d25442
                environment: prod
                '@timestamp': '1683146911363'
                kubernetes.pod_id: 12e7f8f5-c9e7-4c0c-8776-adf273ce4405
                kubernetes.labels.controller-revision-hash: 7c546bdb79
                '#repo': container-platform
                kubernetes.pod_name: nginx-ingress-controller-lgbx9
                '@rawstring': '{"log":"2023/05/03 20:48:31 [error] 23476#23476: *269341446 connect() failed (111: Connection
                  refused) while connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local,
                  request: \"GET /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1\", upstream: \"http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7\",
                  host: \"lpas-mock-server.dev2.paas.rewe.local\"\n","stream":"stderr","time":"2023-05-03T20:48:31.363997181Z","kubernetes":{"pod_name":"nginx-ingress-controller-lgbx9","namespace_name":"ingress-nginx","pod_id":"12e7f8f5-c9e7-4c0c-8776-adf273ce4405","labels":{"app":"ingress-nginx","app.kubernetes.io/component":"controller","app.kubernetes.io/instance":"ingress-nginx","app.kubernetes.io/name":"ingress-nginx","controller-revision-hash":"7c546bdb79","pod-template-generation":"23"},"annotations":{"kubernetes.io/psp":"default-psp"},"host":"vvm2947","container_name":"controller","docker_id":"6392bf42768b023911baa29e1b7e3b84cec0b7ab46253e1cde393ee4f1d25442","container_hash":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560","container_image":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1"},"index":"dev-level-2","cluster":"dev-level-2","environment":"prod"}'
                time: '2023-05-03T20:48:31.363997181Z'
                '#type': json-time
              - '#humioAutoShard': '13'
                cluster: dev-level-2
                kubernetes.labels.app.kubernetes.io/instance: ingress-nginx
                log: '2023/05/03 20:48:31 [error] 23476#23476: *269341446 connect() failed (111: Connection refused) while
                  connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local, request: "GET
                  /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1", upstream: "http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7",
                  host: "lpas-mock-server.dev2.paas.rewe.local"

                  '
                kubernetes.labels.app.kubernetes.io/name: ingress-nginx
                kubernetes.annotations.kubernetes.io/psp: default-psp
                kubernetes.labels.app.kubernetes.io/component: controller
                kubernetes.labels.app: ingress-nginx
                stream: stderr
                kubernetes.container_image: docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1
                '@id': ZDKj351HTNfjZpqjGEggRgpm_4672_61_1683146911
                kubernetes.host: vvm2947
                '@host': rancher-logging-operator-root-fluentd-0
                '@timezone': Z
                '@timestamp.nanos': '504126'
                kubernetes.container_hash: docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560
                kubernetes.container_name: controller
                index: dev-level-2
                kubernetes.labels.pod-template-generation: '23'
                kubernetes.namespace_name: ingress-nginx
                '@ingesttimestamp': '1683146916981'
                kubernetes.docker_id: 6392bf42768b023911baa29e1b7e3b84cec0b7ab46253e1cde393ee4f1d25442
                environment: prod
                '@timestamp': '1683146911363'
                kubernetes.pod_id: 12e7f8f5-c9e7-4c0c-8776-adf273ce4405
                kubernetes.labels.controller-revision-hash: 7c546bdb79
                '#repo': container-platform
                kubernetes.pod_name: nginx-ingress-controller-lgbx9
                '@rawstring': '{"log":"2023/05/03 20:48:31 [error] 23476#23476: *269341446 connect() failed (111: Connection
                  refused) while connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local,
                  request: \"GET /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1\", upstream: \"http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7\",
                  host: \"lpas-mock-server.dev2.paas.rewe.local\"\n","stream":"stderr","time":"2023-05-03T20:48:31.363504126Z","kubernetes":{"pod_name":"nginx-ingress-controller-lgbx9","namespace_name":"ingress-nginx","pod_id":"12e7f8f5-c9e7-4c0c-8776-adf273ce4405","labels":{"app":"ingress-nginx","app.kubernetes.io/component":"controller","app.kubernetes.io/instance":"ingress-nginx","app.kubernetes.io/name":"ingress-nginx","controller-revision-hash":"7c546bdb79","pod-template-generation":"23"},"annotations":{"kubernetes.io/psp":"default-psp"},"host":"vvm2947","container_name":"controller","docker_id":"6392bf42768b023911baa29e1b7e3b84cec0b7ab46253e1cde393ee4f1d25442","container_hash":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560","container_image":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1"},"index":"dev-level-2","cluster":"dev-level-2","environment":"prod"}'
                time: '2023-05-03T20:48:31.363504126Z'
                '#type': json-time
              - '#humioAutoShard': '13'
                cluster: dev-level-2
                kubernetes.labels.app.kubernetes.io/instance: ingress-nginx
                log: '2023/05/03 20:48:31 [error] 23476#23476: *269341446 connect() failed (111: Connection refused) while
                  connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local, request: "GET
                  /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1", upstream: "http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7",
                  host: "lpas-mock-server.dev2.paas.rewe.local"

                  '
                kubernetes.labels.app.kubernetes.io/name: ingress-nginx
                kubernetes.annotations.kubernetes.io/psp: default-psp
                kubernetes.labels.app.kubernetes.io/component: controller
                kubernetes.labels.app: ingress-nginx
                stream: stderr
                kubernetes.container_image: docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1
                '@id': ZDKj351HTNfjZpqjGEggRgpm_4672_60_1683146911
                kubernetes.host: vvm2947
                '@host': rancher-logging-operator-root-fluentd-0
                '@timezone': Z
                '@timestamp.nanos': '949203'
                kubernetes.container_hash: docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560
                kubernetes.container_name: controller
                index: dev-level-2
                kubernetes.labels.pod-template-generation: '23'
                kubernetes.namespace_name: ingress-nginx
                '@ingesttimestamp': '1683146916981'
                kubernetes.docker_id: 6392bf42768b023911baa29e1b7e3b84cec0b7ab46253e1cde393ee4f1d25442
                environment: prod
                '@timestamp': '1683146911362'
                kubernetes.pod_id: 12e7f8f5-c9e7-4c0c-8776-adf273ce4405
                kubernetes.labels.controller-revision-hash: 7c546bdb79
                '#repo': container-platform
                kubernetes.pod_name: nginx-ingress-controller-lgbx9
                '@rawstring': '{"log":"2023/05/03 20:48:31 [error] 23476#23476: *269341446 connect() failed (111: Connection
                  refused) while connecting to upstream, client: 10.45.51.124, server: lpas-mock-server.dev2.paas.rewe.local,
                  request: \"GET /platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7
                  HTTP/1.1\", upstream: \"http://10.42.14.107:8080/platform-web/platform-register/v1/node-id/lpas-k8s-bundle-6996b484cd-44nfq_10_42_6_103_b552c8ec-4d1c-341f-8de0-76b66eb096e7\",
                  host: \"lpas-mock-server.dev2.paas.rewe.local\"\n","stream":"stderr","time":"2023-05-03T20:48:31.362949203Z","kubernetes":{"pod_name":"nginx-ingress-controller-lgbx9","namespace_name":"ingress-nginx","pod_id":"12e7f8f5-c9e7-4c0c-8776-adf273ce4405","labels":{"app":"ingress-nginx","app.kubernetes.io/component":"controller","app.kubernetes.io/instance":"ingress-nginx","app.kubernetes.io/name":"ingress-nginx","controller-revision-hash":"7c546bdb79","pod-template-generation":"23"},"annotations":{"kubernetes.io/psp":"default-psp"},"host":"vvm2947","container_name":"controller","docker_id":"6392bf42768b023911baa29e1b7e3b84cec0b7ab46253e1cde393ee4f1d25442","container_hash":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560","container_image":"docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1"},"index":"dev-level-2","cluster":"dev-level-2","environment":"prod"}'
                time: '2023-05-03T20:48:31.362949203Z'
                '#type': json-time
              - '#humioAutoShard': '0'
                cluster: dev-level-2
                kubernetes.labels.app.kubernetes.io/instance: ingress-nginx
                log: '2023/05/03 20:48:23 [error] 83957#83957: *111280372 recv() failed (104: Connection reset by peer) while
                  reading response header from upstream, client: 10.45.51.125, server: _, request: "POST /instances HTTP/1.1",
                  upstream: "http://10.42.4.176:8080/instances", host: "pim-springboot-admin-app.dev2.paas.rewe.local"

                  '
                kubernetes.labels.app.kubernetes.io/name: ingress-nginx
                kubernetes.annotations.kubernetes.io/psp: default-psp
                kubernetes.labels.app.kubernetes.io/component: controller
                kubernetes.labels.app: ingress-nginx
                stream: stderr
                kubernetes.container_image: docker.artifactory.rewe.local/rancher/nginx-ingress-controller:nginx-1.2.1-rancher1
                '@id': NYenCEm53cMxOwVzW7eJHKG4_2566_118_1683146903
                kubernetes.host: vvm2949
                '@host': rancher-logging-operator-root-fluentd-0
                '@timezone': Z
                '@timestamp.nanos': '421867'
                kubernetes.container_hash: docker.artifactory.rewe.local/rancher/nginx-ingress-controller@sha256:97c5d92cf9a6313551ad916989f064dc70a75f0862427a412c22fa762fbd1560
                kubernetes.container_name: controller
                index: dev-level-2
                kubernetes.labels.pod-template-generation: '23'
                kubernetes.namespace_name: ingress-nginx
                '@ingesttimestamp': '1683146909922'
                kubernetes.docker_id: 707be58cb7839751f03be101f243461fa6307ffbf83dbc6b2566be0196900a75
                environment: prod
                '@timestamp': '1683146903296'
                kubernetes.pod_id: ae5d1cc0-7461-4424-9188-5872589937e0
                kubernetes.labels.controller-revision-hash: 7c546bdb79
                '#repo': container-platform
                kubernetes.pod_name: nginx-ingress-controller-pf7j6
                '@rawstring': '{"log":"2023/05/03 20:48:23 [error] 83957#83957: *111280372 recv() failed (104: Connection
                  reset by peer) while reading response header from upstream, client: 10.45.51.125, server: _, request: \"POST
[...]
