openapi: 3.0.3
info:
  title: BigPanda Environments API
  description: BigPanda Environments operations, assembled verbatim from the OpenAPI fragments BigPanda publishes on its own
    API reference at https://api-docs.bigpanda.io/. Each operation carries x-source-url naming the exact provider page it
    was read from. BigPanda hosts each organization in a single data management region (US or EU); send requests to the base
    URL for your region.
  version: 1.0.0
  contact:
    name: BigPanda Support
    url: https://api-docs.bigpanda.io/
  license:
    name: Proprietary
    url: https://www.bigpanda.io/legal/
  x-provenance:
    method: searched
    source: https://api-docs.bigpanda.io/llms.txt
    harvested: '2026-09-04'
    assembly: 'Operations copied verbatim from the per-endpoint OpenAPI 3.0.1 fragments BigPanda publishes at https://api-docs.bigpanda.io/<endpoint>.md.
      Assembly-only normalizations: Apidog x-apidog security metadata stripped, securityScheme type "bearer" corrected to
      type http/scheme bearer, schema name collisions suffixed. No operation, parameter, schema or response was authored by
      API Evangelist.'
    operations: 9
servers:
- url: https://api.bigpanda.io
  description: US Region
- url: https://api.eu.bigpanda.io
  description: EU Region
tags:
- name: Environments
paths:
  /resources/v2.0/environments:
    post:
      summary: Create an Environment
      deprecated: false
      description: "Create a new environment.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs require Bearer Token\
        \ Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization token. Your User API\
        \ Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization: Bearer [YOUR_USER_API_KEY]`\n\
        \n**Rate limit:** 5 requests per second."
      operationId: create-an-environment
      tags:
      - Environments
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment_object'
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environment_object'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770085-run
      x-source-url: https://api-docs.bigpanda.io/create-an-environment-37770085e0.md
      x-source-page: Create an Environment
    get:
      summary: Retrieve All Environments
      deprecated: false
      description: "Retrieve all environments for an organization.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda\
        \ APIs require Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization\
        \ token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization:\
        \ Bearer [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: retrieve-all-environments
      tags:
      - Environments
      parameters: []
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/environment_object'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770084-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-all-environments-37770084e0.md
      x-source-page: Retrieve All Environments
  /resources/v2.0/environments-groups:
    post:
      summary: Create an Environment Group
      deprecated: false
      description: "Create a new environment group.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs require Bearer\
        \ Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization token. Your\
        \ User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization: Bearer\
        \ [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: create-environment-groups
      tags:
      - Environments
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment_group_object'
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environment_group_response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770090-run
      x-source-url: https://api-docs.bigpanda.io/create-an-environment-group-37770090e0.md
      x-source-page: Create an Environment Group
    get:
      summary: Retrieve All Environment Groups
      deprecated: false
      description: "Get details for all environment groups.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs require\
        \ Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization token.\
        \ Your User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization:\
        \ Bearer [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: retrieve-all-environment-groups
      tags:
      - Environments
      parameters: []
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/environment_object'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770089-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-all-environment-groups-37770089e0.md
      x-source-page: Retrieve All Environment Groups
  /resources/v2.0/environments/{environment_id}:
    delete:
      summary: Delete Environment
      deprecated: false
      description: "Delete an environment.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs require Bearer Token\
        \ Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization token. Your User API\
        \ Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization: Bearer [YOUR_USER_API_KEY]`\n\
        \n**Rate limit:** 5 requests per second."
      operationId: delete-environment
      tags:
      - Environments
      parameters:
      - name: environment_id
        in: path
        description: The system id of a BigPanda environment
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 63bd568809cb331300ffa555
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic200response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770087-run
      x-source-url: https://api-docs.bigpanda.io/delete-environment-37770087e0.md
      x-source-page: Delete Environment
    get:
      summary: Retrieve an Environment by ID
      deprecated: false
      description: "Retrieve details for a specific environment.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs\
        \ require Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization\
        \ token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization:\
        \ Bearer [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: get-an-environment
      tags:
      - Environments
      parameters:
      - name: environment_id
        in: path
        description: The system id of a BigPanda environment
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 63bd568809cb331300ffa555
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environment_object'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770086-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-an-environment-by-id-37770086e0.md
      x-source-page: Retrieve an Environment by ID
    patch:
      summary: Update Environment
      deprecated: false
      description: "Update an environment configuration.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs require\
        \ Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization token.\
        \ Your User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization:\
        \ Bearer [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: update-environment
      tags:
      - Environments
      parameters:
      - name: environment_id
        in: path
        description: The system id of a BigPanda environment
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 63bd568809cb331300ffa555
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment_object'
      responses:
        '202':
          x-apidog-ordering: 0
          description: '202'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environment_object'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770088-run
      x-source-url: https://api-docs.bigpanda.io/update-environment-37770088e0.md
      x-source-page: Update Environment
  /resources/v2.0/environments-groups/{group_id}:
    delete:
      summary: Delete Environment Group
      deprecated: false
      description: "Delete an environment group.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs require Bearer\
        \ Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization token. Your\
        \ User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization: Bearer\
        \ [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: delete-environment-group
      tags:
      - Environments
      parameters:
      - name: group_id
        in: path
        description: System id of a BigPanda environment group
        required: true
        example: ''
        schema:
          type: string
          examples:
          - null
      responses:
        '204':
          x-apidog-ordering: 0
          description: '204'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic204response'
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 1
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic404response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770092-run
      x-source-url: https://api-docs.bigpanda.io/delete-environment-group-37770092e0.md
      x-source-page: Delete Environment Group
    put:
      summary: Update Environment Group
      deprecated: false
      description: "Update configuration for a specific environment group.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda\
        \ APIs require Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization\
        \ token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.\n>\n> Example:\n> `Authorization:\
        \ Bearer [YOUR_USER_API_KEY]`\n\n**Rate limit:** 5 requests per second."
      operationId: update-environment-group
      tags:
      - Environments
      parameters:
      - name: group_id
        in: path
        description: System id of a BigPanda environment group
        required: true
        example: ''
        schema:
          type: string
          examples:
          - null
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment_group_object'
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environment_group_response'
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic400response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770091-run
      x-source-url: https://api-docs.bigpanda.io/update-environment-group-37770091e0.md
      x-source-page: Update Environment Group
components:
  securitySchemes:
    BearerUser131:
      type: http
      scheme: bearer
      description: 'Format: "Bearer {User API Key}" BigPanda recommends adding

        [Authentication](https://docs.bigpanda.io/reference/introduction#authentication-and-headers) headers only in the secure
        tool you use to make API calls

        '
  schemas:
    environment_object:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: User-defined name for the environment.
        description:
          type: string
          description: User-defined description of the environment.
        environment_group_id:
          type: string
          description: System-generated id of the environment group.
        roles:
          type: array
          description: The full access roles associated with the environment.
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
            x-apidog-orders:
            - id
            - name
            x-apidog-ignore-properties: []
        read_only_roles:
          type: array
          description: The read-only roles associated with the environment.
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
            x-apidog-orders:
            - id
            - name
            x-apidog-ignore-properties: []
        filter:
          type: string
          description: BPQL Filter to set conditions for the environment.
      x-apidog-orders:
      - name
      - description
      - environment_group_id
      - roles
      - read_only_roles
      - filter
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    environment_group_object:
      type: object
      properties:
        name:
          type: string
          description: The name of the environment group.
        environment_ids:
          type: array
          description: System-generated unique identifier for an environment
          items:
            type: string
      x-apidog-orders:
      - name
      - environment_ids
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    environment_group_response:
      type: object
      properties:
        id:
          type: string
          examples:
          - 669fbed4da224b0f5bad8f13
        name:
          type: string
          examples:
          - EnvGroupName
        environmentIds:
          type: array
          items:
            type: string
      x-apidog-orders:
      - id
      - name
      - environmentIds
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    generic200response:
      type: object
      description: 'Call was successful.

        '
      properties:
        status:
          type: integer
          examples:
          - 200
        data:
          type: object
          properties: {}
          x-apidog-orders: []
          x--orders: []
          x--ignore-properties: []
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      examples:
      - status: 200
        data: {}
      x--orders:
      - status
      - data
      x--ignore-properties: []
    generic204response:
      type: object
      description: 'Call was successful.

        '
      properties:
        status:
          type: integer
          examples:
          - 204
        data:
          type: object
          properties: {}
          x-apidog-orders: []
          x-apidog-ignore-properties: []
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      examples:
      - status: 204
        data: {}
      x-apidog-ignore-properties: []
    generic404response:
      type: object
      description: 'Requested endpoint or resource is not found.

        '
      properties:
        status:
          type: integer
          examples:
          - 404
        errors:
          type: array
          items:
            type: string
            examples:
            - Requested endpoint or resource is not found.
      x-apidog-orders:
      - status
      - errors
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    generic400response:
      type: object
      description: 'Call is missing parameters or malformed.

        '
      properties:
        status:
          type: integer
          examples:
          - 400
        errors:
          type: array
          items:
            type: string
            examples:
            - Call is missing parameters or malformed.
      x-apidog-orders:
      - status
      - errors
      x-apidog-ignore-properties: []
      x-apidog-folder: ''
x-server-notes:
- US host https://api.bigpanda.io verified live 2026-09-04 (HTTP 401 Authorization Required on an unauthenticated request).
- EU host https://api.eu.bigpanda.io is the value BigPanda publishes at https://api-docs.bigpanda.io/regions. It did NOT resolve
  in DNS on 2026-09-04. The live EU host observed on that date is https://eu-api.bigpanda.io (401 Authorization Required).
  The per-endpoint fragments on the same site declare a third EU value, https://eu-api.biggy.io, which also does not resolve.
  Recorded as published; not corrected.
