openapi: 3.2.0
info:
  title: Bigpanda Environments API
  license:
    name: Proprietary
    url: https://www.bigpanda.io/legal/
  x-refined-note:
  - x-generated-from differs across the merged source definitions and was not carried
  - x-refined-note differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Environments across 2 of this provider''s published API definitions: bigpanda-openapi.yml, bigpanda-environments-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bigpanda.io
  description: BigPanda API
- url: https://api.eu.bigpanda.io
  description: EU Region
tags:
- name: Environments
  description: Define incident grouping environments
paths:
  /resources/v2.0/environments:
    get:
      operationId: listEnvironments
      summary: BigPanda List Environments
      description: Returns a list of all BigPanda environments.
      tags:
      - Environments
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of environments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentsResponse'
              examples:
                ListEnvironments200Example:
                  summary: Default listEnvironments 200 response
                  x-microcks-default: true
                  value:
                    environments:
                    - id: env-abc123
                      name: Production
                      description: Production environment
                      condition: source = "nagios"
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEnvironment
      summary: BigPanda Create Environment
      description: Creates a new incident grouping environment.
      tags:
      - Environments
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentRequest'
            examples:
              CreateEnvironment201Example:
                summary: Default createEnvironment request example
                x-microcks-default: true
                value:
                  name: Production
                  description: Production environment
                  condition: source = "nagios"
      responses:
        '201':
          description: Environment created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
              examples:
                CreateEnvironment201Example:
                  summary: Default createEnvironment 201 response
                  x-microcks-default: true
                  value:
                    id: env-abc123
                    name: Production
                    description: Production environment
                    condition: source = "nagios"
        '400':
          description: Invalid environment configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.bigpanda.io
      description: BigPanda API
  /resources/v2.0/environments/{id}:
    get:
      operationId: getEnvironment
      summary: BigPanda Get Environment
      description: Returns a single environment by ID.
      tags:
      - Environments
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: env-abc123
      responses:
        '200':
          description: Environment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
              examples:
                GetEnvironment200Example:
                  summary: Default getEnvironment 200 response
                  x-microcks-default: true
                  value:
                    id: env-abc123
                    name: Production
                    description: Production environment
                    condition: source = "nagios"
        '404':
          description: Environment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteEnvironment
      summary: BigPanda Delete Environment
      description: Deletes an environment by ID.
      tags:
      - Environments
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: env-abc123
      responses:
        '204':
          description: Environment deleted successfully.
        '404':
          description: Environment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.bigpanda.io
      description: BigPanda API
  /resources/v2.0/environments-groups:
    servers:
    - url: https://api.bigpanda.io
      description: US Region
    - url: https://api.eu.bigpanda.io
      description: EU Region
    post:
      summary: Create an Environment Group
      deprecated: false
      description: 'Create a new environment group.


        > 🚧 **Authentication**

        >

        > All BigPanda APIs require Bearer Token Authorization in the call headers.

        >

        > This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.

        >

        > Example:

        > `Authorization: Bearer [YOUR_USER_API_KEY]`


        **Rate limit:** 5 requests per second.'
      operationId: create-environment-groups
      tags:
      - Environments
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment_group_object'
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environment_group_response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770090-run
      x-source-url: https://api-docs.bigpanda.io/create-an-environment-group-37770090e0.md
      x-source-page: Create an Environment Group
    get:
      summary: Retrieve All Environment Groups
      deprecated: false
      description: 'Get details for all environment groups.


        > 🚧 **Authentication**

        >

        > All BigPanda APIs require Bearer Token Authorization in the call headers.

        >

        > This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.

        >

        > Example:

        > `Authorization: Bearer [YOUR_USER_API_KEY]`


        **Rate limit:** 5 requests per second.'
      operationId: retrieve-all-environment-groups
      tags:
      - Environments
      parameters: []
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/environment_object'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770089-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-all-environment-groups-37770089e0.md
      x-source-page: Retrieve All Environment Groups
  /resources/v2.0/environments/{environment_id}:
    servers:
    - url: https://api.bigpanda.io
      description: US Region
    - url: https://api.eu.bigpanda.io
      description: EU Region
    delete:
      summary: Delete Environment
      deprecated: false
      description: 'Delete an environment.


        > 🚧 **Authentication**

        >

        > All BigPanda APIs require Bearer Token Authorization in the call headers.

        >

        > This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.

        >

        > Example:

        > `Authorization: Bearer [YOUR_USER_API_KEY]`


        **Rate limit:** 5 requests per second.'
      operationId: delete-environment
      tags:
      - Environments
      parameters:
      - name: environment_id
        in: path
        description: The system id of a BigPanda environment
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 63bd568809cb331300ffa555
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic200response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770087-run
      x-source-url: https://api-docs.bigpanda.io/delete-environment-37770087e0.md
      x-source-page: Delete Environment
    get:
      summary: Retrieve an Environment by ID
      deprecated: false
      description: 'Retrieve details for a specific environment.


        > 🚧 **Authentication**

        >

        > All BigPanda APIs require Bearer Token Authorization in the call headers.

        >

        > This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.

        >

        > Example:

        > `Authorization: Bearer [YOUR_USER_API_KEY]`


        **Rate limit:** 5 requests per second.'
      operationId: get-an-environment
      tags:
      - Environments
      parameters:
      - name: environment_id
        in: path
        description: The system id of a BigPanda environment
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 63bd568809cb331300ffa555
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environment_object'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770086-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-an-environment-by-id-37770086e0.md
      x-source-page: Retrieve an Environment by ID
    patch:
      summary: Update Environment
      deprecated: false
      description: 'Update an environment configuration.


        > 🚧 **Authentication**

        >

        > All BigPanda APIs require Bearer Token Authorization in the call headers.

        >

        > This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.

        >

        > Example:

        > `Authorization: Bearer [YOUR_USER_API_KEY]`


        **Rate limit:** 5 requests per second.'
      operationId: update-environment
      tags:
      - Environments
      parameters:
      - name: environment_id
        in: path
        description: The system id of a BigPanda environment
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 63bd568809cb331300ffa555
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment_object'
      responses:
        '202':
          x-apidog-ordering: 0
          description: '202'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environment_object'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770088-run
      x-source-url: https://api-docs.bigpanda.io/update-environment-37770088e0.md
      x-source-page: Update Environment
  /resources/v2.0/environments-groups/{group_id}:
    servers:
    - url: https://api.bigpanda.io
      description: US Region
    - url: https://api.eu.bigpanda.io
      description: EU Region
    delete:
      summary: Delete Environment Group
      deprecated: false
      description: 'Delete an environment group.


        > 🚧 **Authentication**

        >

        > All BigPanda APIs require Bearer Token Authorization in the call headers.

        >

        > This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.

        >

        > Example:

        > `Authorization: Bearer [YOUR_USER_API_KEY]`


        **Rate limit:** 5 requests per second.'
      operationId: delete-environment-group
      tags:
      - Environments
      parameters:
      - name: group_id
        in: path
        description: System id of a BigPanda environment group
        required: true
        example: ''
        schema:
          type: string
          examples:
          - null
      responses:
        '204':
          x-apidog-ordering: 0
          description: '204'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic204response'
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 1
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic404response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770092-run
      x-source-url: https://api-docs.bigpanda.io/delete-environment-group-37770092e0.md
      x-source-page: Delete Environment Group
    put:
      summary: Update Environment Group
      deprecated: false
      description: 'Update configuration for a specific environment group.


        > 🚧 **Authentication**

        >

        > All BigPanda APIs require Bearer Token Authorization in the call headers.

        >

        > This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.

        >

        > Example:

        > `Authorization: Bearer [YOUR_USER_API_KEY]`


        **Rate limit:** 5 requests per second.'
      operationId: update-environment-group
      tags:
      - Environments
      parameters:
      - name: group_id
        in: path
        description: System id of a BigPanda environment group
        required: true
        example: ''
        schema:
          type: string
          examples:
          - null
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment_group_object'
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environment_group_response'
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic400response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770091-run
      x-source-url: https://api-docs.bigpanda.io/update-environment-group-37770091e0.md
      x-source-page: Update Environment Group
components:
  schemas:
    EnvironmentRequest:
      title: Environment Request
      description: Payload for creating or updating an environment.
      type: object
      required:
      - name
      - condition
      properties:
        name:
          type: string
          description: Environment name.
          example: Production
        description:
          type: string
          description: Environment description.
          example: Production environment
        condition:
          type: string
          description: Filter condition for grouping incidents.
          example: source = "nagios"
    Environment:
      title: Environment
      description: A BigPanda environment for incident grouping.
      type: object
      properties:
        id:
          type: string
          description: Environment ID.
          example: env-abc123
        name:
          type: string
          description: Environment name.
          example: Production
        description:
          type: string
          description: Environment description.
          example: Production environment
        condition:
          type: string
          description: Filter condition for grouping incidents.
          example: source = "nagios"
    ErrorResponse:
      title: Error Response
      description: Standard error response.
      type: object
      properties:
        error:
          type: string
          description: Error message.
          example: resource not found
        status:
          type: integer
          description: HTTP status code.
          example: 404
    EnvironmentsResponse:
      title: Environments Response
      description: List of BigPanda environments.
      type: object
      properties:
        environments:
          type: array
          description: Array of environments.
          items:
            $ref: '#/components/schemas/Environment'
    environment_group_response:
      type: object
      properties:
        id:
          type: string
          examples:
          - 669fbed4da224b0f5bad8f13
        name:
          type: string
          examples:
          - EnvGroupName
        environmentIds:
          type: array
          items:
            type: string
      x-apidog-orders:
      - id
      - name
      - environmentIds
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    generic400response:
      type: object
      description: 'Call is missing parameters or malformed.

        '
      properties:
        status:
          type: integer
          examples:
          - 400
        errors:
          type: array
          items:
            type: string
            examples:
            - Call is missing parameters or malformed.
      x-apidog-orders:
      - status
      - errors
      x-apidog-ignore-properties: []
      x-apidog-folder: ''
    generic204response:
      type: object
      description: 'Call was successful.

        '
      properties:
        status:
          type: integer
          examples:
          - 204
        data:
          type: object
          properties: {}
          x-apidog-orders: []
          x-apidog-ignore-properties: []
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      examples:
      - status: 204
        data: {}
      x-apidog-ignore-properties: []
    environment_object:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: User-defined name for the environment.
        description:
          type: string
          description: User-defined description of the environment.
        environment_group_id:
          type: string
          description: System-generated id of the environment group.
        roles:
          type: array
          description: The full access roles associated with the environment.
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
            x-apidog-orders:
            - id
            - name
            x-apidog-ignore-properties: []
        read_only_roles:
          type: array
          description: The read-only roles associated with the environment.
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
            x-apidog-orders:
            - id
            - name
            x-apidog-ignore-properties: []
        filter:
          type: string
          description: BPQL Filter to set conditions for the environment.
      x-apidog-orders:
      - name
      - description
      - environment_group_id
      - roles
      - read_only_roles
      - filter
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    environment_group_object:
      type: object
      properties:
        name:
          type: string
          description: The name of the environment group.
        environment_ids:
          type: array
          description: System-generated unique identifier for an environment
          items:
            type: string
      x-apidog-orders:
      - name
      - environment_ids
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    generic200response:
      type: object
      description: 'Call was successful.

        '
      properties:
        status:
          type: integer
          examples:
          - 200
        data:
          type: object
          properties: {}
          x-apidog-orders: []
          x--orders: []
          x--ignore-properties: []
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      examples:
      - status: 200
        data: {}
      x--orders:
      - status
      - data
      x--ignore-properties: []
    generic404response:
      type: object
      description: 'Requested endpoint or resource is not found.

        '
      properties:
        status:
          type: integer
          examples:
          - 404
        errors:
          type: array
          items:
            type: string
            examples:
            - Requested endpoint or resource is not found.
      x-apidog-orders:
      - status
      - errors
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: BigPanda API Bearer token
    BearerUser131:
      type: http
      scheme: bearer
      description: 'Format: "Bearer {User API Key}" BigPanda recommends adding

        [Authentication](https://docs.bigpanda.io/reference/introduction#authentication-and-headers) headers only in the secure tool you use to make API calls

        '
x-refined-from:
- bigpanda-openapi.yml
- bigpanda-environments-api-openapi.yml
