openapi: 3.0.3
info:
  title: BigPanda Service Accounts API
  description: BigPanda Service Accounts operations, assembled verbatim from the OpenAPI fragments BigPanda publishes on its
    own API reference at https://api-docs.bigpanda.io/. Each operation carries x-source-url naming the exact provider page
    it was read from. BigPanda hosts each organization in a single data management region (US or EU); send requests to the
    base URL for your region.
  version: 1.0.0
  contact:
    name: BigPanda Support
    url: https://api-docs.bigpanda.io/
  license:
    name: Proprietary
    url: https://www.bigpanda.io/legal/
  x-provenance:
    method: searched
    source: https://api-docs.bigpanda.io/llms.txt
    harvested: '2026-09-04'
    assembly: 'Operations copied verbatim from the per-endpoint OpenAPI 3.0.1 fragments BigPanda publishes at https://api-docs.bigpanda.io/<endpoint>.md.
      Assembly-only normalizations: Apidog x-apidog security metadata stripped, securityScheme type "bearer" corrected to
      type http/scheme bearer, schema name collisions suffixed. No operation, parameter, schema or response was authored by
      API Evangelist.'
    operations: 5
servers:
- url: https://api.bigpanda.io
  description: US Region
- url: https://api.eu.bigpanda.io
  description: EU Region
tags:
- name: Service Accounts
paths:
  /resources/v2.1/service-accounts:
    post:
      summary: Create Service Account
      deprecated: false
      description: Create a new service account with specific properties.
      operationId: createServiceAccount
      tags:
      - Service Accounts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: 'Schema pending: definition lives in unbundled source-repo files. Replace once the bundled spec
                is provided.'
              x-apidog-orders: []
              properties: {}
              x-apidog-ignore-properties: []
      responses:
        '201':
          x-apidog-ordering: 0
          description: Service account created successfully.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  additionalProperties: true
                  description: 'Schema pending: definition lives in unbundled source-repo files. Replace once the bundled
                    spec is provided.'
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                - $ref: '#/components/schemas/success-response-v1'
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: Invalid request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 2
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '409':
          x-apidog-ordering: 3
          description: Conflict occurred. Service account already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 4
          description: Internal server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
      x-schema-pending: true
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770190-run
      x-source-url: https://api-docs.bigpanda.io/create-service-account-37770190e0.md
      x-source-page: Create Service Account
    get:
      summary: Retrieve All Service Accounts
      deprecated: false
      description: Retrieve a list of all service accounts.
      operationId: getAllServiceAccounts
      tags:
      - Service Accounts
      parameters: []
      responses:
        '200':
          x-apidog-ordering: 0
          description: A list of service accounts.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  additionalProperties: true
                  description: 'Schema pending: definition lives in unbundled source-repo files. Replace once the bundled
                    spec is provided.'
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                - $ref: '#/components/schemas/success-response-v1'
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 1
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 2
          description: Internal server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
      x-schema-pending: true
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770191-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-all-service-accounts-37770191e0.md
      x-source-page: Retrieve All Service Accounts
  /resources/v2.1/service-accounts/{service_account_id}:
    delete:
      summary: Delete Service Account
      deprecated: false
      description: Permanently delete a service account by its ID.
      operationId: deleteServiceAccount
      tags:
      - Service Accounts
      parameters:
      - name: service_account_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      responses:
        '204':
          x-apidog-ordering: 0
          description: Service account deleted successfully.
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: Invalid request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 2
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 3
          description: Service account not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '409':
          x-apidog-ordering: 4
          description: Conflict occurred. Service account could not be deleted due to dependencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 5
          description: Internal server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-38345866-run
      x-source-url: https://api-docs.bigpanda.io/delete-service-account-38345866e0.md
      x-source-page: Delete Service Account
    get:
      summary: Retrieve Service Account by ID
      deprecated: false
      description: Fetch details of a service account using its unique ID.
      operationId: getServiceAccountById
      tags:
      - Service Accounts
      parameters:
      - name: service_account_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      responses:
        '200':
          x-apidog-ordering: 0
          description: Service account retrieved successfully.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  additionalProperties: true
                  description: 'Schema pending: definition lives in unbundled source-repo files. Replace once the bundled
                    spec is provided.'
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                - $ref: '#/components/schemas/success-response-v1'
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: Invalid request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 2
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 3
          description: Service account not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 4
          description: Internal server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
      x-schema-pending: true
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-38345865-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-service-account-by-id-38345865e0.md
      x-source-page: Retrieve Service Account by ID
    patch:
      summary: Update Service Account
      deprecated: false
      description: Modify details of a service account using its unique ID.
      operationId: updateServiceAccount
      tags:
      - Service Accounts
      parameters:
      - name: service_account_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: 'Schema pending: definition lives in unbundled source-repo files. Replace once the bundled spec
                is provided.'
              x-apidog-orders: []
              properties: {}
              x-apidog-ignore-properties: []
      responses:
        '200':
          x-apidog-ordering: 0
          description: Service account updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  additionalProperties: true
                  description: 'Schema pending: definition lives in unbundled source-repo files. Replace once the bundled
                    spec is provided.'
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                - $ref: '#/components/schemas/success-response-v1'
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: Invalid request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 2
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 3
          description: Service account not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '409':
          x-apidog-ordering: 4
          description: Conflict occurred. Service account already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 5
          description: Internal server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
      x-schema-pending: true
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-38345867-run
      x-source-url: https://api-docs.bigpanda.io/update-service-account-38345867e0.md
      x-source-page: Update Service Account
components:
  schemas:
    success-response-v1:
      title: success-response-v1
      type: object
      properties:
        status:
          $ref: '#/components/schemas/http-status-code-v1'
        data:
          type: object
          x-apidog-orders: []
          properties: {}
          x-apidog-ignore-properties: []
      required:
      - status
      - data
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    http-status-code-v1:
      type: number
      enum:
      - 100
      - 101
      - 102
      - 103
      - 200
      - 201
      - 202
      - 203
      - 204
      - 205
      - 206
      - 207
      - 300
      - 301
      - 302
      - 303
      - 304
      - 305
      - 307
      - 308
      - 400
      - 401
      - 402
      - 403
      - 404
      - 405
      - 406
      - 407
      - 408
      - 409
      - 410
      - 411
      - 412
      - 413
      - 414
      - 415
      - 416
      - 417
      - 418
      - 421
      - 422
      - 423
      - 424
      - 426
      - 428
      - 429
      - 431
      - 451
      - 500
      - 501
      - 502
      - 503
      - 504
      - 505
      - 507
      - 511
      description: Standard HTTP Status Code as explained in https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml
      x-apidog-folder: ''
    error-response-v1:
      title: error-response-v1
      type: object
      description: BP default error response
      properties:
        status:
          $ref: '#/components/schemas/http-status-code-v1'
        errors:
          type: array
          items:
            type: string
      required:
      - status
      - errors
      x-apidog-orders:
      - status
      - errors
      x-apidog-ignore-properties: []
      x-apidog-folder: ''
x-server-notes:
- US host https://api.bigpanda.io verified live 2026-09-04 (HTTP 401 Authorization Required on an unauthenticated request).
- EU host https://api.eu.bigpanda.io is the value BigPanda publishes at https://api-docs.bigpanda.io/regions. It did NOT resolve
  in DNS on 2026-09-04. The live EU host observed on that date is https://eu-api.bigpanda.io (401 Authorization Required).
  The per-endpoint fragments on the same site declare a third EU value, https://eu-api.biggy.io, which also does not resolve.
  Recorded as published; not corrected.
