openapi: 3.2.0
info:
  title: BigPanda Alerts Environments API
  description: The BigPanda API enables IT operations teams to programmatically manage incidents, alerts, environments, enrichments, maintenance plans, and correlation patterns. BigPanda uses AI to correlate alerts from multiple monitoring systems into actionable incidents.
  version: v2
  contact:
    name: BigPanda Support
    url: https://docs.bigpanda.io
  license:
    name: Proprietary
    url: https://www.bigpanda.io/legal/
  x-generated-from: documentation
servers:
- url: https://api.bigpanda.io
  description: BigPanda API
tags:
- name: Environments
  description: Define incident grouping environments
paths:
  /resources/v2.0/environments:
    get:
      operationId: listEnvironments
      summary: BigPanda List Environments
      description: Returns a list of all BigPanda environments.
      tags:
      - Environments
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of environments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentsResponse'
              examples:
                ListEnvironments200Example:
                  summary: Default listEnvironments 200 response
                  x-microcks-default: true
                  value:
                    environments:
                    - id: env-abc123
                      name: Production
                      description: Production environment
                      condition: source = "nagios"
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEnvironment
      summary: BigPanda Create Environment
      description: Creates a new incident grouping environment.
      tags:
      - Environments
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentRequest'
            examples:
              CreateEnvironment201Example:
                summary: Default createEnvironment request example
                x-microcks-default: true
                value:
                  name: Production
                  description: Production environment
                  condition: source = "nagios"
      responses:
        '201':
          description: Environment created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
              examples:
                CreateEnvironment201Example:
                  summary: Default createEnvironment 201 response
                  x-microcks-default: true
                  value:
                    id: env-abc123
                    name: Production
                    description: Production environment
                    condition: source = "nagios"
        '400':
          description: Invalid environment configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /resources/v2.0/environments/{id}:
    get:
      operationId: getEnvironment
      summary: BigPanda Get Environment
      description: Returns a single environment by ID.
      tags:
      - Environments
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: env-abc123
      responses:
        '200':
          description: Environment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
              examples:
                GetEnvironment200Example:
                  summary: Default getEnvironment 200 response
                  x-microcks-default: true
                  value:
                    id: env-abc123
                    name: Production
                    description: Production environment
                    condition: source = "nagios"
        '404':
          description: Environment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteEnvironment
      summary: BigPanda Delete Environment
      description: Deletes an environment by ID.
      tags:
      - Environments
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: env-abc123
      responses:
        '204':
          description: Environment deleted successfully.
        '404':
          description: Environment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EnvironmentsResponse:
      title: Environments Response
      description: List of BigPanda environments.
      type: object
      properties:
        environments:
          type: array
          description: Array of environments.
          items:
            $ref: '#/components/schemas/Environment'
    Environment:
      title: Environment
      description: A BigPanda environment for incident grouping.
      type: object
      properties:
        id:
          type: string
          description: Environment ID.
          example: env-abc123
        name:
          type: string
          description: Environment name.
          example: Production
        description:
          type: string
          description: Environment description.
          example: Production environment
        condition:
          type: string
          description: Filter condition for grouping incidents.
          example: source = "nagios"
    EnvironmentRequest:
      title: Environment Request
      description: Payload for creating or updating an environment.
      type: object
      required:
      - name
      - condition
      properties:
        name:
          type: string
          description: Environment name.
          example: Production
        description:
          type: string
          description: Environment description.
          example: Production environment
        condition:
          type: string
          description: Filter condition for grouping incidents.
          example: source = "nagios"
    ErrorResponse:
      title: Error Response
      description: Standard error response.
      type: object
      properties:
        error:
          type: string
          description: Error message.
          example: resource not found
        status:
          type: integer
          description: HTTP status code.
          example: 404
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: BigPanda API Bearer token
