openapi: 3.0.3
info:
  title: BigPanda Biggy Query API
  description: BigPanda Biggy Query operations, assembled verbatim from the OpenAPI fragments BigPanda publishes on its own
    API reference at https://api-docs.bigpanda.io/. Each operation carries x-source-url naming the exact provider page it
    was read from. BigPanda hosts each organization in a single data management region (US or EU); send requests to the base
    URL for your region.
  version: 1.0.0
  contact:
    name: BigPanda Support
    url: https://api-docs.bigpanda.io/
  license:
    name: Proprietary
    url: https://www.bigpanda.io/legal/
  x-provenance:
    method: searched
    source: https://api-docs.bigpanda.io/llms.txt
    harvested: '2026-09-04'
    assembly: 'Operations copied verbatim from the per-endpoint OpenAPI 3.0.1 fragments BigPanda publishes at https://api-docs.bigpanda.io/<endpoint>.md.
      Assembly-only normalizations: Apidog x-apidog security metadata stripped, securityScheme type "bearer" corrected to
      type http/scheme bearer, schema name collisions suffixed. No operation, parameter, schema or response was authored by
      API Evangelist.'
    operations: 2
servers:
- url: https://api.bigpanda.io
  description: US Region
- url: https://api.eu.bigpanda.io
  description: EU Region
tags:
- name: Biggy Query
paths:
  /query-results/{requestId}:
    get:
      summary: Retrieve a Response
      deprecated: false
      description: "Retrieve a Biggy response by request ID.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs require\
        \ Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization token.\n\
        \n\n> ❗ **Rate limitations**\n> \n> To maintain quality of service, the Biggy API is limited to 100 requests per minute.\
        \ Additional requests will return a 429 response code and the request will need to be retried.\n\n> \U0001F4D8 **Messages**\n\
        >\n> The `requestId` can be retrieved by sending a Send a Query request with the `async` field set to `true`. The\
        \ requestId will be available in the 202 response. \n"
      operationId: get-a-response
      tags:
      - Biggy Query
      parameters:
      - name: requestId
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Biggy-response-object'
            examples: {}
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getresponse200response'
          headers: {}
          x-apidog-name: ''
        '202':
          x-apidog-ordering: 1
          description: '202'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getresponse202response'
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 2
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic404response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser11: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37769959-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-a-response.md
      x-source-page: Retrieve a Response
  /query:
    post:
      summary: Send a Query
      deprecated: false
      description: "Send a natural language query to Biggy.\n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda APIs require\
        \ Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization token.\n\
        \n\n> ❗ **Rate limitations**\n> \n> To maintain quality of service, the Biggy API is limited to 100 requests per minute.\
        \ Additional requests will return a 429 response code and the request will need to be retried.\n\n\n> \U0001F6A7 **Streaming\
        \ options**\n> \n> If streaming is set to `true`, the response will be a single streamed text line output. When streaming\
        \ is set to `false`, the response is in JSON structure. \n\n\n> \U0001F4D8 **Messages**\n>\n> When you're continuing\
        \ a conversation with Biggy, use the messages parameter to ensure that the LLM has the context it needs.\n>\n> Use\
        \ the `user` role to share the latest user message sent to Biggy. The `assistant` role is used to send Biggy's last\
        \ response as context in the messages parameter. \n\n> \U0001F6A7 **Async responses**\n> \n> When the `async` field\
        \ is set to `true`, Biggy's query response will run asynchronously. A 202 response will be returned containing the\
        \ `requestId`. To retrieve Biggy's response, use the Retrieve a Query endpoint. \n>\n> If `async` and `streaming`\
        \ are both set to `true`, a 400 response will be returned. \n"
      operationId: send-a-query
      tags:
      - Biggy Query
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-apidog-refs:
                01KV89MHB0GTA3QTRPS45GF105:
                  $ref: '#/components/schemas/Biggy-object'
                  x-apidog-overrides: {}
              properties:
                query:
                  type: string
                  description: The query sent to Biggy.
                  examples:
                  - Who supports DEST service?
                async:
                  type: boolean
                  description: Whether or not you would like to wait for the query to process. Select `true` to let the query
                    run asynchronously. Select `false` to wait for the query to load.
                  examples:
                  - false
                streaming:
                  type: boolean
                  description: Determines if the response is streamed, or if Biggy waits until the response is fully generated
                    to send.
                  examples:
                  - true
                responseFormat:
                  type: string
                  description: The format of Biggy's response. One of [`markdown` or `plain-text`]
                  examples:
                  - markdown
                messages:
                  type: array
                  description: The latest user messages to Biggy, and responses from Biggy.
                  items:
                    type: object
                    properties: {}
                    x-apidog-orders: []
                    x-apidog-ignore-properties: []
                actionPlanName:
                  type: string
                  description: Target a specific action plan instead of allowing one to be selected automatically.
                reasoningEffort:
                  type: string
                  description: Level of reasoning used to form the response. One of `low`, `medium`, or `high`.
                agenticMode:
                  type: boolean
                  description: Enable agentic mode with tool use.
                userTimeZone:
                  type: string
                  description: IANA time zone of the user submitting the query.
              x-apidog-orders:
              - 01KV89MHB0GTA3QTRPS45GF105
              - actionPlanName
              - reasoningEffort
              - agenticMode
              - userTimeZone
              required:
              - query
              x-apidog-ignore-properties:
              - query
              - async
              - streaming
              - responseFormat
              - messages
            examples: {}
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic200response'
          headers: {}
          x-apidog-name: ''
        '202':
          x-apidog-ordering: 1
          description: '202'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/biggy202response'
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 2
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic404response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser11: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37769958-run
      x-source-url: https://api-docs.bigpanda.io/send-a-query.md
      x-source-page: Send a Query
components:
  securitySchemes:
    BearerUser11:
      type: http
      scheme: bearer
      description: 'Format: "Bearer {User API Key}" BigPanda recommends adding

        [Authentication](https://docs.bigpanda.io/reference/introduction#authentication-and-headers)

        headers only in the secure tool you use to make API calls

        '
  schemas:
    Biggy-response-object:
      required:
      - requestId
      type: object
      properties:
        requestId:
          type: string
          description: The request ID of Biggy's response.
          examples:
          - 5a463805f883718f8
      x-apidog-orders:
      - requestId
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    getresponse200response:
      type: object
      description: "Call was successful. \n"
      properties:
        status:
          type: integer
          examples:
          - 200
        data:
          type: object
          properties:
            requestId:
              type: string
              description: The request ID of Biggy's response.
              examples:
              - 5a463805f883718f8
            status:
              type: string
              description: Whether the request was completed.
              examples:
              - completed
            response:
              type: string
              description: Biggy's response to the query.
              examples:
              - '## Who Supports `auth-api`? 😊


                Based on the most up-to-date organizational context, the **auth-api** service is supported and owned by the
                **Admin Platform**'
            duration:
              type: string
              description: The amount of time (in milliseconds) that it took Biggy to complete the response.
              examples:
              - 24.382
          x-apidog-orders:
          - requestId
          - status
          - response
          - duration
          x-apidog-ignore-properties: []
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    getresponse202response:
      type: object
      description: "Call was successful. \n"
      properties:
        requestId:
          type: string
          description: The request ID of Biggy's response.
          examples:
          - 5a463805f883718f8
        status:
          type: string
          description: Whether the request was completed.
          examples:
          - processing
        message:
          type: string
          description: The processing message.
          examples:
          - Query is still processing
      x-apidog-orders:
      - requestId
      - status
      - message
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    generic404response:
      type: object
      description: 'Requested endpoint or resource is not found.

        '
      properties:
        status:
          type: integer
          examples:
          - 404
        errors:
          type: array
          items:
            type: string
            examples:
            - Requested endpoint or resource is not found.
      x-apidog-orders:
      - status
      - errors
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    Biggy-object:
      required:
      - query
      type: object
      properties:
        query:
          type: string
          description: The query sent to Biggy.
          examples:
          - Who supports DEST service?
        async:
          type: boolean
          description: Whether or not you would like to wait for the query to process. Select `true` to let the query run
            asynchronously. Select `false` to wait for the query to load.
          examples:
          - false
        streaming:
          type: boolean
          description: Determines if the response is streamed, or if Biggy waits until the response is fully generated to
            send.
          examples:
          - true
        responseFormat:
          type: string
          description: The format of Biggy's response. One of [`markdown` or `plain-text`]
          examples:
          - markdown
        messages:
          type: array
          description: The latest user messages to Biggy, and responses from Biggy.
          items:
            type: object
            properties: {}
            x-apidog-orders: []
            x-apidog-ignore-properties: []
      x-apidog-orders:
      - query
      - async
      - streaming
      - responseFormat
      - messages
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    generic200response:
      type: object
      description: 'Call was successful.

        '
      properties:
        status:
          type: integer
          examples:
          - 200
        data:
          type: object
          properties: {}
          x-apidog-orders: []
          x-apidog-ignore-properties: []
      examples:
      - status: 200
        data: {}
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    biggy202response:
      type: object
      description: 'Call was successful.

        '
      properties:
        status:
          type: integer
          examples:
          - 202
        data:
          type: object
          properties:
            requestId:
              type: string
              description: The request ID of Biggy's response.
              examples:
              - 5a463805f883718f8
          x-apidog-orders:
          - requestId
          x-apidog-ignore-properties: []
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
x-server-notes:
- US host https://api.bigpanda.io verified live 2026-09-04 (HTTP 401 Authorization Required on an unauthenticated request).
- EU host https://api.eu.bigpanda.io is the value BigPanda publishes at https://api-docs.bigpanda.io/regions. It did NOT resolve
  in DNS on 2026-09-04. The live EU host observed on that date is https://eu-api.bigpanda.io (401 Authorization Required).
  The per-endpoint fragments on the same site declare a third EU value, https://eu-api.biggy.io, which also does not resolve.
  Recorded as published; not corrected.
