openapi: 3.0.3
info:
  title: BigPanda Roles & Permissions API
  description: BigPanda Roles & Permissions operations, assembled verbatim from the OpenAPI fragments BigPanda publishes on
    its own API reference at https://api-docs.bigpanda.io/. Each operation carries x-source-url naming the exact provider
    page it was read from. BigPanda hosts each organization in a single data management region (US or EU); send requests to
    the base URL for your region.
  version: 1.0.0
  contact:
    name: BigPanda Support
    url: https://api-docs.bigpanda.io/
  license:
    name: Proprietary
    url: https://www.bigpanda.io/legal/
  x-provenance:
    method: searched
    source: https://api-docs.bigpanda.io/llms.txt
    harvested: '2026-09-04'
    assembly: 'Operations copied verbatim from the per-endpoint OpenAPI 3.0.1 fragments BigPanda publishes at https://api-docs.bigpanda.io/<endpoint>.md.
      Assembly-only normalizations: Apidog x-apidog security metadata stripped, securityScheme type "bearer" corrected to
      type http/scheme bearer, schema name collisions suffixed. No operation, parameter, schema or response was authored by
      API Evangelist.'
    operations: 12
servers:
- url: https://api.bigpanda.io
  description: US Region
- url: https://api.eu.bigpanda.io
  description: EU Region
tags:
- name: Roles & Permissions
paths:
  /resources/v2.1/roles/{role_id}/users:
    post:
      summary: Add users to role
      deprecated: false
      description: Assign one or more users to a role in a single call. Use for bulk role membership changes when onboarding
        a team.
      operationId: postRoleUsers
      tags:
      - Roles & Permissions
      parameters:
      - name: role_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              uniqueItems: true
              minItems: 1
              items:
                $ref: '#/components/schemas/id-v1'
            examples: {}
      responses:
        '201':
          x-apidog-ordering: 0
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  additionalProperties: true
                  description: 'Schema pending: definition lives in unbundled source-repo files. Replace once the bundled
                    spec is provided.'
                  x-apidog-orders: []
                  properties: {}
                  x--orders: []
                  x--ignore-properties: []
                - $ref: '#/components/schemas/success-response-v1'
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 2
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 3
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 4
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
      x-schema-pending: true
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-38345847-run
      x-source-url: https://api-docs.bigpanda.io/add-users-to-role-38345847e0.md
      x-source-page: Add users to role
    delete:
      summary: Delete Users
      deprecated: false
      description: Remove one or more users from a role in a single call.
      operationId: deleteRoleUsers
      tags:
      - Roles & Permissions
      parameters:
      - name: role_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      responses:
        '200':
          x-apidog-ordering: 0
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  additionalProperties: true
                  description: 'Schema pending: definition lives in unbundled source-repo files. Replace once the bundled
                    spec is provided.'
                  x-apidog-orders: []
                  properties: {}
                  x--orders: []
                  x--ignore-properties: []
                - $ref: '#/components/schemas/success-response-v1'
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 2
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 3
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 4
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v1'
          headers: {}
          x-apidog-name: ''
      x-schema-pending: true
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-38345848-run
      x-source-url: https://api-docs.bigpanda.io/delete-users-38345848e0.md
      x-source-page: Delete Users
  /resources/v2.1/roles:
    post:
      summary: Create a Role
      deprecated: false
      description: "Creates a new role.\n\n## System fields\nSystem fields (​​id​​, ​created_by​​, ​created_at​​, and ​updated_at​​)\
        \ will be set automatically. If included in the Create payload, these fields will be discarded.\n\n## Authentication\n\
        All BigPanda APIs require Bearer Token Authorization in the call headers.\nThis API uses the User API Key type of\
        \ Authorization token. Your User API Key must be provided in the header, prefixed by the word `Bearer`.\n\nExample:\n\
        `Authorization: Bearer [YOUR_USER_API_KEY]`\n\n## resource_type\nFor a full list of available resource_types, see\
        \ the [Roles Management](https://docs.bigpanda.io/en/roles-management.html#roles-and-resource-permissions) documentation.\
        \ \n"
      operationId: create-a-role
      tags:
      - Roles & Permissions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/role_object'
      responses:
        '201':
          x-apidog-ordering: 0
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/role'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770124-run
      x-source-url: https://api-docs.bigpanda.io/create-a-role-37770124e0.md
      x-source-page: Create a Role
    get:
      summary: Retrieve All Roles
      deprecated: false
      description: 'The Roles API is a tool to help you manage user roles in the BigPanda system, enabling you to bulk manage
        even large and complex permissions.


        Use the Roles API to create, retrieve, update, and delete roles from the BigPanda UI.


        ## Authentication

        All BigPanda APIs require Bearer Token Authorization in the call headers.

        This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed
        by the word `Bearer`.


        Example:

        `Authorization: Bearer [YOUR_USER_API_KEY]`

        '
      operationId: retrieve-all-roles
      tags:
      - Roles & Permissions
      parameters:
      - name: page
        in: query
        description: Which set of results to return.
        required: false
        example: 0
        schema:
          type: integer
          default: 1
          examples:
          - 4
      - name: per_page
        in: query
        description: Number of results to show for each page.
        required: false
        example: 0
        schema:
          type: integer
          default: 20
          examples:
          - 30
      - name: direction
        in: query
        description: The direction to sort results by
        required: false
        example: ''
        schema:
          type: string
          default: desc or asc
      - name: sort
        in: query
        description: 'The field to sort results by. One of `id`, `name`, `created_at`.

          '
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/role'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770123-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-all-roles-37770123e0.md
      x-source-page: Retrieve All Roles
  /resources/v2.1/roles/{role_id}:
    delete:
      summary: Delete a Role
      deprecated: false
      description: 'Deletes a role from the system.


        ## Authentication

        All BigPanda APIs require Bearer Token Authorization in the call headers.

        This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed
        by the word `Bearer`.


        Example:

        `Authorization: Bearer [YOUR_USER_API_KEY]`

        '
      operationId: delete-a-role
      tags:
      - Roles & Permissions
      parameters:
      - name: role_id
        in: path
        description: System id for the role in BigPanda.
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 134g134y264
      responses:
        '204':
          x-apidog-ordering: 0
          description: '204'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generic204response'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770127-run
      x-source-url: https://api-docs.bigpanda.io/delete-a-role-37770127e0.md
      x-source-page: Delete a Role
    get:
      summary: Retrieve Role by ID
      deprecated: false
      description: 'Retrieves a specific role.


        ## Authentication

        All BigPanda APIs require Bearer Token Authorization in the call headers.

        This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed
        by the word `Bearer`.


        Example:

        `Authorization: Bearer [YOUR_USER_API_KEY]`

        '
      operationId: retrieve-role-by-id
      tags:
      - Roles & Permissions
      parameters:
      - name: role_id
        in: path
        description: System id for the role in BigPanda.
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 134g134y264
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/role'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770125-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-role-by-id-37770125e0.md
      x-source-page: Retrieve Role by ID
    patch:
      summary: Update Role
      deprecated: false
      description: Update a role's properties or permissions in place. Use PUT to replace the role definition entirely.
      operationId: updateRoleById
      tags:
      - Roles & Permissions
      parameters:
      - name: role_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: 'Schema pending: full definition lives in the users-api source repo (multi-file refs not bundled).
                Replace once the bundled spec is provided.'
              x-apidog-orders: []
              properties: {}
      responses:
        '200':
          x-apidog-ordering: 0
          description: role updated
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  additionalProperties: true
                  description: 'Schema pending: full definition lives in the users-api source repo (multi-file refs not bundled).
                    Replace once the bundled spec is provided.'
                  x-apidog-orders: []
                  properties: {}
                - type: object
                  additionalProperties: true
                  description: 'Schema pending: full definition lives in the users-api source repo (multi-file refs not bundled).
                    Replace once the bundled spec is provided.'
                  x-apidog-orders: []
                  properties: {}
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: 'Schema pending: full definition lives in the users-api source repo (multi-file refs not bundled).
                  Replace once the bundled spec is provided.'
                x-apidog-orders: []
                properties: {}
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 2
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: 'Schema pending: full definition lives in the users-api source repo (multi-file refs not bundled).
                  Replace once the bundled spec is provided.'
                x-apidog-orders: []
                properties: {}
          headers: {}
          x-apidog-name: ''
        '404':
          x-apidog-ordering: 3
          description: Not found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: 'Schema pending: full definition lives in the users-api source repo (multi-file refs not bundled).
                  Replace once the bundled spec is provided.'
                x-apidog-orders: []
                properties: {}
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 4
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: 'Schema pending: full definition lives in the users-api source repo (multi-file refs not bundled).
                  Replace once the bundled spec is provided.'
                x-apidog-orders: []
                properties: {}
          headers: {}
          x-apidog-name: ''
      x-schema-pending: true
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-38345846-run
      x-source-url: https://api-docs.bigpanda.io/update-role-38345846e0.md
      x-source-page: Update Role
    put:
      summary: Update a Role
      deprecated: false
      description: 'You are able to update name, users, and permissions in a single call.


        Any differences between the existing role and fields in the Update call will be applied. This includes incomplete
        parameters.


        The full list of users and permissions must be included in each update call. For example, if a role has eight permissions
        and only one is included in the call, the role will be updated to only have the one permission.


        ## Authentication

        All BigPanda APIs require Bearer Token Authorization in the call headers.

        This API uses the User API Key type of Authorization token. Your User API Key must be provided in the header, prefixed
        by the word `Bearer`.


        Example:

        `Authorization: Bearer [YOUR_USER_API_KEY]`

        '
      operationId: update-a-role
      tags:
      - Roles & Permissions
      parameters:
      - name: role_id
        in: path
        description: System id for the role in BigPanda.
        required: true
        example: ''
        schema:
          type: string
          examples:
          - 134g134y264
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/role_object'
      responses:
        '200':
          x-apidog-ordering: 0
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/role'
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser131: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770126-run
      x-source-url: https://api-docs.bigpanda.io/update-a-role-37770126e0.md
      x-source-page: Update a Role
  /roles:
    get:
      summary: Retrieve All Roles
      deprecated: false
      description: "Retrieve all of your organization's roles and associated permissions. \n\n> \U0001F6A7 **Authentication**\n\
        > \n> All BigPanda APIs require Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key\
        \ type of Authorization token.\n\n> \U0001F4D8 **Required permissions**\n>\n>  Your account must have the `Role Management`\
        \ permission set to `View` to use this endpoint.\n\n> ❗ **Rate limitations**\n> \n> To maintain quality of service,\
        \ the Biggy API is limited to 100 requests per minute. Additional requests will return a 429 response code and the\
        \ request will need to be retried."
      operationId: get-all-roles
      tags:
      - Roles & Permissions
      parameters: []
      responses:
        '200':
          x-apidog-ordering: 0
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier of the role.
                        name:
                          type: string
                          description: Name of the role.
                        type:
                          type: string
                          description: Role type.
                        permissions:
                          type: array
                          items:
                            type: object
                            properties:
                              resourceType:
                                type: string
                                description: Type of resource the permission grants access to.
                              resourceName:
                                type: string
                                description: Name of the resource the permission grants access to.
                              actions:
                                type: array
                                items:
                                  type: string
                                description: Actions users who have this permission can perform. (i.e., view, edit.)
                            x-apidog-orders:
                            - resourceType
                            - resourceName
                            - actions
                          description: Permissions associated with the role.
                        createdAt:
                          type: string
                          description: ISO date-time when the role was created.
                        updatedAt:
                          type: string
                          description: ISO date-time when the role was last updated.
                      x-apidog-orders:
                      - id
                      - name
                      - type
                      - permissions
                      - createdAt
                      - updatedAt
                required:
                - roles
                x-apidog-orders:
                - roles
              example:
                roles:
                - id: 65f0c8f8d73b2b0012ab1111
                  name: System Admin
                  type: system
                  permissions:
                  - resourceType: user_mgmt
                    resourceName: '*'
                    actions:
                    - view
                    - edit
                  - resourceType: role_mgmt
                    resourceName: '*'
                    actions:
                    - view
                    - edit
                  - resourceType: audit_logs
                    resourceName: '*'
                    actions:
                    - view
                  createdAt: '2025-01-01T00:00:00.000Z'
                  updatedAt: '2025-01-01T00:00:00.000Z'
                - id: 65f0c8f8d73b2b0012ab3333
                  name: Standard User
                  type: system
                  permissions:
                  - resourceType: action_plan_execution
                    resourceName: '*'
                    actions:
                    - execute
                  - resourceType: source_category
                    resourceName: '*'
                    actions:
                    - view
                  createdAt: '2025-01-01T00:00:00.000Z'
                  updatedAt: '2025-01-01T00:00:00.000Z'
          headers: {}
          x-apidog-name: ''
        '403':
          x-apidog-ordering: 1
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  statusCode:
                    type: integer
                    examples:
                    - 403
                  error:
                    type: string
                    examples:
                    - Forbidden
                  message:
                    type: string
                    examples:
                    - Forbidden - insufficient permissions
                x-apidog-orders:
                - statusCode
                - error
                - message
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser11: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37904805-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-all-roles-37904805e0.md
      x-source-page: Retrieve All Roles
  /roles/{roleId}/users:
    get:
      summary: Retrieve All Users Associated with a Role
      deprecated: false
      description: "Retrieve all users associated with a specific role. \n\n> \U0001F6A7 **Authentication**\n> \n> All BigPanda\
        \ APIs require Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type of Authorization\
        \ token.\n\n> \U0001F4D8 **Required permissions**\n>\n>  Your account must have the `Role Management` permission set\
        \ to `View` to use this endpoint.\n\n> ❗ **Rate limitations**\n> \n> To maintain quality of service, the Biggy API\
        \ is limited to 100 requests per minute. Additional requests will return a 429 response code and the request will\
        \ need to be retried."
      operationId: get-all-users-for-role
      tags:
      - Roles & Permissions
      parameters:
      - name: roleId
        in: path
        description: 'Unique identifier of an AI Incident Assistant role. '
        required: true
        example: 65f0c8f8d73b2b0012ab1123
        schema:
          type: string
      responses:
        '200':
          x-apidog-ordering: 0
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  role:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier of the role.
                      name:
                        type: string
                        description: 'Name of the role. '
                    x-apidog-orders:
                    - id
                    - name
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier of the user account.
                        fullName:
                          type: string
                          description: Full name of the user.
                        email:
                          type: string
                          description: Email address of the user.
                        title:
                          type: string
                          description: User's job title.
                        avatar:
                          type: string
                          description: User's avatar.
                        roles:
                          type: array
                          items:
                            type: string
                          description: Roles associated with the user.
                      x-apidog-orders:
                      - id
                      - fullName
                      - email
                      - title
                      - avatar
                      - roles
                required:
                - role
                - users
                x-apidog-orders:
                - role
                - users
              example:
                role:
                  id: 65f0c8f8d73b2b0012ab1111
                  name: System Admin
                users:
                - id: 65f0c8f8d73b2b0012ab3456
                  fullName: Jane Doe
                  email: jane@example.com
                  title: SRE
                  avatar: null
                  roles:
                  - 65f0c8f8d73b2b0012ab1111
          headers: {}
          x-apidog-name: ''
        '403':
          x-apidog-ordering: 1
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  statusCode:
                    type: integer
                    examples:
                    - 403
                  error:
                    type: string
                    examples:
                    - Forbidden
                  message:
                    type: string
                    examples:
                    - Forbidden - insufficient permissions
                x-apidog-orders:
                - statusCode
                - error
                - message
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser11: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37904806-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-all-users-associated-with-a-role-37904806e0.md
      x-source-page: Retrieve All Users Associated with a Role
  /roles/{roleId}:
    get:
      summary: Retrieve a Role
      deprecated: false
      description: "Retrieve a single role and associated permissions by Role ID. \n\n> \U0001F6A7 **Authentication**\n> \n\
        > All BigPanda APIs require Bearer Token Authorization in the call headers.\n>\n> This API uses the User API Key type\
        \ of Authorization token.\n\n> \U0001F4D8 **Required permissions**\n>\n>  Your account must have the `Role Management`\
        \ permission set to `View` to use this endpoint.\n\n> ❗ **Rate limitations**\n> \n> To maintain quality of service,\
        \ the Biggy API is limited to 100 requests per minute. Additional requests will return a 429 response code and the\
        \ request will need to be retried."
      operationId: get-a-role
      tags:
      - Roles & Permissions
      parameters:
      - name: roleId
        in: path
        description: Unique identifier of an AI Incident Assistant role.
        required: true
        example: 65f0c8f8d73b2b0012ab1123
        schema:
          type: string
      responses:
        '200':
          x-apidog-ordering: 0
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  role:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      type:
                        type: string
                      permissions:
                        type: object
                        properties:
                          resourceType:
                            type: string
                          resourceName:
                            type: string
                          actions:
                            type: array
                            items:
                              type: string
                        x-apidog-orders:
                        - resourceType
                        - resourceName
                        - actions
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                    x-apidog-orders:
                    - id
                    - name
                    - type
                    - permissions
                    - createdAt
                    - updatedAt
                required:
                - role
                x-apidog-orders:
                - role
              example:
                role:
                  id: 65f0c8f8d73b2b0012ab1111
                  name: System Admin
                  type: system
                  permissions:
                  - resourceType: user_mgmt
                    resourceName: '*'
                    actions:
                    - view
                    - edit
                  createdAt: '2025-01-01T00:00:00.000Z'
                  updatedAt: '2025-01-01T00:00:00.000Z'
          headers: {}
          x-apidog-name: ''
        '403':
          x-apidog-ordering: 1
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  statusCode:
                    type: integer
                    examples:
                    - 403
                  error:
                    type: string
                    examples:
                    - Forbidden
                  message:
                    type: string
                    examples:
                    - Forbidden - insufficient permissions
                x-apidog-orders:
                - statusCode
                - error
                - message
          headers: {}
          x-apidog-name: ''
      security:
      - BearerUser11: []
      x-publication-status: live
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37904804-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-a-role-37904804e0.md
      x-source-page: Retrieve a Role
  /resources/v2.1/permissions:
    get:
      summary: Retrieve all permissions
      deprecated: false
      description: Get All permissions with available actions depending on FTs and env permissions
      operationId: getAllPermissions
      tags:
      - Roles & Permissions
      parameters: []
      responses:
        '200':
          x-apidog-ordering: 0
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  additionalProperties: true
                  description: 'Schema pending: definition lives in unbundled source-repo files. Replace once the bundled
                    spec is provided.'
                  x-apidog-orders: []
                  properties: {}
                  x-apidog-ignore-properties: []
                - $ref: '#/components/schemas/success-response-v12'
          headers: {}
          x-apidog-name: ''
        '400':
          x-apidog-ordering: 1
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v12'
          headers: {}
          x-apidog-name: ''
        '401':
          x-apidog-ordering: 2
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v12'
          headers: {}
          x-apidog-name: ''
        '500':
          x-apidog-ordering: 3
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-v12'
          headers: {}
          x-apidog-name: ''
      x-schema-pending: true
      x-run-in-apidog: https://app.apidog.com/web/project/1203004/apis/api-37770128-run
      x-source-url: https://api-docs.bigpanda.io/retrieve-all-permissions-37770128e0.md
      x-source-page: Retrieve all permissions
components:
  securitySchemes:
    BearerUser11:
      type: http
      scheme: bearer
      description: 'Format: "Bearer {User API Key}" BigPanda recommends adding

        [Authentication](https://docs.bigpanda.io/reference/introduction#authentication-and-headers)

        headers only in the secure tool you use to make API calls

        '
    BearerUser131:
      type: http
      scheme: bearer
      description: 'Format: "Bearer {User API Key}" BigPanda recommends adding

        [Authentication](https://docs.bigpanda.io/reference/introduction#authentication-and-headers) headers only in the secure
        tool you use to make API calls

        '
  schemas:
    id-v1:
      type: string
      title: ID
      pattern: ^[a-f\d]{24}$
      description: Object's ID
      minLength: 24
      maxLength: 24
      x-apidog-folder: ''
      examples:
      - 60c5238222fa63633d93d52f
    success-response-v1:
      title: success-response-v1
      type: object
      properties:
        status:
          $ref: '#/components/schemas/http-status-code-v1'
        data:
          type: object
          x-apidog-orders: []
          properties: {}
          x--orders: []
          x--ignore-properties: []
      required:
      - status
      - data
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      x--orders:
      - status
      - data
      x--ignore-properties: []
    http-status-code-v1:
      type: number
      enum:
      - 100
      - 101
      - 102
      - 103
      - 200
      - 201
      - 202
      - 203
      - 204
      - 205
      - 206
      - 207
      - 300
      - 301
      - 302
      - 303
      - 304
      - 305
      - 307
      - 308
      - 400
      - 401
      - 402
      - 403
      - 404
      - 405
      - 406
      - 407
      - 408
      - 409
      - 410
      - 411
      - 412
      - 413
      - 414
      - 415
      - 416
      - 417
      - 418
      - 421
      - 422
      - 423
      - 424
      - 426
      - 428
      - 429
      - 431
      - 451
      - 500
      - 501
      - 502
      - 503
      - 504
      - 505
      - 507
      - 511
      description: Standard HTTP Status Code as explained in https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml
      x-apidog-folder: ''
    error-response-v1:
      title: error-response-v1
      type: object
      description: BP default error response
      properties:
        status:
          $ref: '#/components/schemas/http-status-code-v1'
        errors:
          type: array
          items:
            type: string
      required:
      - status
      - errors
      x-apidog-orders:
      - status
      - errors
      x--orders:
      - status
      - errors
      x--ignore-properties: []
      x-apidog-folder: ''
    role_object:
      required:
      - name
      - permissions
      type: object
      properties:
        name:
          type: string
          description: The name of the role as seen in the UI.
        users:
          type: array
          description: An array of user IDs associated with the role.
          items:
            type: string
        permissions:
          type: array
          description: A list of permissions associated with the role.
          items:
            type: object
            properties:
              resource_type:
                type: string
                examples:
                - analytics
              resource_id:
                type: string
                examples:
                - null
              actions:
                type: array
                items:
                  type: string
                  examples:
                  - full_access
            x-apidog-orders:
            - resource_type
            - resource_id
            - actions
            x-apidog-ignore-properties: []
      x-apidog-orders:
      - name
      - users
      - permissions
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    role:
      type: object
      properties:
        name:
          type: string
          description: The name of the role as seen in the UI.
          examples:
          - Admin
        id:
          type: string
          description: Unique system identifier for the role.
          examples:
          - role-id-123
        users:
          type: array
          description: An array of user IDs associated with the role.
          items:
            type: string
          examples:
          - - 60c5238222fa63633d935555
            - 5555238222fa63633d93560c
        created_by:
          type: string
          description: The unique ID associated with the user who created the role.
          examples:
          - user-id-123
        created_at:
          type: integer
          description: Unix epoch time when the role was created (in seconds).
          examples:
          - 1620000000
        updated_at:
          type: integer
          description: Unix epoch time when the role was last updated (in seconds).
          examples:
          - 1620500000
        permissions:
          type: array
          description: 'A list of permissions associated with the role.

            Each permission grants access to a specific resource_type, which is an area in BigPanda. See ​[Roles and Resource
            Permissions](https://docs.bigpanda.io/en/roles-management)​​ for more information.

            '
          items:
            $ref: '#/components/schemas/permission'
      x-apidog-orders:
      - name
      - id
      - users
      - created_by
      - created_at
      - updated_at
      - permissions
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    permission:
      type: object
      properties:
        resource_type:
          type: string
          examples:
          - environments
        resource_id:
          type: string
          examples:
          - 624e114fb4d7581100179111
        actions:
          type: string
          examples:
          - read
      x-apidog-orders:
      - resource_type
      - resource_id
      - actions
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    generic204response:
      type: object
      description: 'Call was successful.

        '
      properties:
        status:
          type: integer
          examples:
          - 204
        data:
          type: object
          properties: {}
          x-apidog-orders: []
          x-apidog-ignore-properties: []
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      examples:
      - status: 204
        data: {}
      x-apidog-ignore-properties: []
    success-response-v12:
      title: success-response-v1
      type: object
      properties:
        status:
          $ref: '#/components/schemas/http-status-code-v1'
        data:
          type: object
          x-apidog-orders: []
          properties: {}
          x-apidog-ignore-properties: []
      required:
      - status
      - data
      x-apidog-orders:
      - status
      - data
      x-apidog-folder: ''
      x-apidog-ignore-properties: []
    error-response-v12:
      title: error-response-v1
      type: object
      description: BP default error response
      properties:
        status:
          $ref: '#/components/schemas/http-status-code-v1'
        errors:
          type: array
          items:
            type: string
      required:
      - status
      - errors
      x-apidog-orders:
      - status
      - errors
      x-apidog-ignore-properties: []
      x-apidog-folder: ''
x-server-notes:
- US host https://api.bigpanda.io verified live 2026-09-04 (HTTP 401 Authorization Required on an unauthenticated request).
- EU host https://api.eu.bigpanda.io is the value BigPanda publishes at https://api-docs.bigpanda.io/regions. It did NOT resolve
  in DNS on 2026-09-04. The live EU host observed on that date is https://eu-api.bigpanda.io (401 Authorization Required).
  The per-endpoint fragments on the same site declare a third EU value, https://eu-api.biggy.io, which also does not resolve.
  Recorded as published; not corrected.
